extends default

block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Tramite:
      span &nbsp; #{codigo}
  div#planilla
    div.table
      div.th
        p SOLICITUD DE INSPECCION
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p 
            b Nombre o Razon Social:
            span &nbsp; #{datos.usuario.nombreORazon}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Cedula o RIF:
            span &nbsp; #{datos.usuario.cedulaORif}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Punto de Referencia
            span &nbsp; #{datos.usuario.puntoReferencia}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Direccion:
            span &nbsp; #{datos.usuario.direccion}
      div.tr
        div.td(style={ width: '40%' }).border-bottom.border-right
          p
            b Sector
            span &nbsp; #{datos.usuario.sector}
        div.td(style={ width: '60%' }).border-bottom
          p
            b Parroquia:
            span &nbsp; #{datos.usuario.parroquia}
      div.th
        p DATOS DEL SOLICITANTE
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Nombre
            span &nbsp; #{datos.usuario.nombre}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Cedula:
            span &nbsp; #{datos.usuario.cedula}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Telefono:
            span &nbsp; #{datos.usuario.telefono}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Correo:
            span &nbsp; #{datos.usuario.correo}
      div.tr
        div.td(style={ width: '40%' }).border-right
          p
            b Contacto:
            span &nbsp; #{datos.usuario.contacto}
        div.td(style={ width: '60%' })
          p
            b Horario:
            span &nbsp; #{datos.usuario.horario}
