extends default

block content
  div#fecha
    p 
      b FECHA:
      | &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Tramite:
      | &nbsp; #{codigo}
  div#planilla
    div.titleWithQR
      p#title
        b CONSTANCIA DE HABITABILIDAD
      .QR
        img#QR(src=QR, alt='QR')
    div#text-input
      p
        b Por medio de la presente se hace constar que, en inspección realizada en: 
        | #{datos.usuario.nombreORazon}, RIF. #{datos.usuario.cedulaORif}.
      p Ubicada en: #{datos.funcionario.ubicadoEn}.
      p Tipo de Ocupación: #{datos.funcionario.tipoOcupacion}
      p Área de Construcción: #{datos.funcionario.areaConstruccion}
      div.margin
        p 
          b Proyecto No. #{datos.funcionario.numeroProyecto}, aprobado con fecha: #{moment(datos.funcionario.fechaAprobacion).format('DD/MM/YYYY')}
          br
          b.
           NOTAS:
           Se recomienda a los propietarios que a través del condominio de la edificación, soliciten inspecciones
           para verificar las condiciones de seguridad de la misma y se programe la puesta en marcha de un plan de
           emergencias; así como también la implementación de los sistemas de prevención y protección proyectados.
           Válido por un (1) año.

          br 
    div#firma
      div.item-firma
        hr
        b PRIMER TENIENTE (B): LCDO. JUAN MORALES 
        br 
        b Director de Prevención
      div.item-firma
        hr
        b Capitán (B): Lcdo. ENGHERBERT ATENCIO 
        br 
        b Primer Comandante
    div
      hr
      b Capitán (B): Lcdo. ENGHERBERT ATENCIO 
      br 
      b Primer Comandante