html
  head
    title Template
    link(href='css/catastro.css' rel='stylesheet' type='text/css')
    block css
  body
    div#wrapper
      block header
        header#header
          div.header-child
            img#alcaldia(src='images/alcaldia-logo.png')
          div.header-child
            img(src='images/iglogo.png', width='70px', height='70px')
            img(src='images/sut.png', width='120px', height='40px')
          div.header-child
            div 
              p(style={'padding':'1px'})  
                b CEDULA N°: &nbsp;
                b #{datos.nroCedula}
              p(style={'padding':'1px'})  
                b CONTROL N°: &nbsp;
                b #{datos.nroControl}
              p(style={'padding':'1px'}) 
                b RECIBO N°: &nbsp; 
                b #{datos.nroRecibo}
            div
              img#QR(src=QR, alt='QR')
      div#content
        block title                                                                 
          p 
            b CEDULA CATASTRAL DE INMUEBLES
        block content
          div(style={'width':'85%', 'height':'95%'})
            div(style={'font-size':'16px', 'width':'100%'}).table
              div.tr
                div(style={'-webkit-flex': 10, 'padding':'5px', 'font-size':'16px'}).td.center
                  p
                    b Código Catastral Anterior
            div(style={'font-size':'16px'}).table
              div.tr.border-bottom
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Prr
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Sec
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Man
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Par
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Sbp
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Niv
                div(style={'-webkit-flex': 1.5, 'padding-bottom':'4px'}).td.center.border-right
                  p
                    b Und
              div.tr
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.prr : '0'}
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.sec : '0'}
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.man : '0'}
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.par : '0'}
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.sbp : '0'}
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.niv : '0'}
                div(style={'-webkit-flex': 1.5, 'padding':'4px'}).td.center.border-right
                  p #{oldCodCat ? oldCodCat.und : '0'}
            div(style={'font-size':'16px'}).table
              div.tr
                div(style={'-webkit-flex': 10, 'padding':'5px'}).td.center
                  p
                    b Código Catastral
            div(style={'font-size':'16px'}).table
              div.tr.border-bottom
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b EFed
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Mun
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Prr
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Amb
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Sec
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b SSec
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Man
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Par
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Sbp
                div(style={'-webkit-flex': 1}).td.center.border-right
                  p
                    b Niv
                div(style={'-webkit-flex': 1}).td.center
                  p
                    b Und
              div.tr
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.efed : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.mun : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.prr : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.amb : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.sec : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.ssec : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.man : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.par : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.sbp : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center.border-right
                  p #{codCat ? codCat.niv : '0'}
                div(style={'-webkit-flex': 1, 'padding':'4px'}).td.center
                  p #{codCat ? codCat.und : '0'}  
            div(style={'font-size':'14px'}).table
              div.tr.border-bottom
                div(style={'-webkit-flex': 12, 'font-size':'16px'}).td.center
                  p
                    b Datos del Propietario / Rep. Legal
              div.tr
                div(style={'-webkit-flex': 6}).td
                  p
                    b Nombre y Apellidos / Razón Social
                div(style={'-webkit-flex': 6}).td
                  p
                    b Cedula / Rif:
              div.tr
                div(style={'-webkit-flex': 6}).td
                  p #{datos.representantes ? datos.representantes : ''}
                div(style={'-webkit-flex': 6}).td
                  p #{datos.cedulas ? datos.cedulas : ''}
              div.tr.border-bottom.border-top
                div.td
                  p 
                    b Dirección: &nbsp;
                    | #{datos.direccion}
              div.tr.border-bottom
                div(style={'-webkit-flex': 3}).td
                  p 
                    b Estado: &nbsp;
                    | #{'Táchira'}
                div(style={'-webkit-flex': 4}).td
                  p 
                    b Municipio: &nbsp;
                    | #{'San Cristóbal'}
                div(style={'-webkit-flex': 5}).td
                  p 
                    b Parroquia: &nbsp;
                    i #{datos.parroquia}
              div.tr.border-bottom
                div(style={'-webkit-flex': 2}).td.border-right
                  p 
                    | Numero: &nbsp;
                    | #{datos.numero}
                div(style={'-webkit-flex': 3}).td.border-right
                  p 
                    | FOLIOS: &nbsp;
                    | #{datos.folios || '1'}
                div(style={'-webkit-flex': 2}).td.border-right
                  p 
                    b Tomo: &nbsp;
                    | #{datos.tomo}
                div(style={'-webkit-flex': 2}).td.border-right
                  p 
                    b Protocolo: &nbsp;
                    | #{datos.protocolo}
                div(style={'-webkit-flex': 3}).td
                  p 
                    b Fecha: &nbsp;
                    | #{moment().format('YYYY/MM/DD')}
              div.tr.border-bottom
                div(style={'-webkit-flex': 12, 'font-size':'16px'}).td.center
                  p 
                    b Linderos Originales
              div.tr.border-bottom
                div.td
                  p 
                    b Norte: &nbsp;
                    b 
                      i #{linderos.original ? linderos.original.norte : ''}
              div.tr.border-bottom
                div.td
                  p 
                    b Sur: &nbsp;
                    b 
                      i #{linderos.original ? linderos.original.sur : ''}
              div.tr.border-bottom
                div.td
                  p 
                    b Este: &nbsp;
                    b 
                      i #{linderos.original ? linderos.original.este : ''}
              div.tr.border-bottom
                div.td
                  p 
                    b Oeste: &nbsp;
                    b 
                      i #{linderos.original ? linderos.original.oeste : ''}
              div.tr.border-bottom
                div(style={'-webkit-flex': 12, 'font-size':'16px'}).td.center
                  p 
                    b Linderos Actuales
              div.tr.border-bottom
                div.td
                  p 
                    b Norte: &nbsp;
                    b 
                      i #{linderos.actual ? linderos.actual.norte : ''}
              div.tr.border-bottom
                div.td
                  p 
                    b Sur: &nbsp;
                    b 
                      i #{linderos.actual ? linderos.actual.sur : ''}
              div.tr.border-bottom
                div.td
                  p 
                    b Este: &nbsp;
                    b 
                      i #{linderos.actual ? linderos.actual.este : ''}
              div.tr.border-bottom
                div.td
                  p 
                    b Oeste: &nbsp;
                    b 
                      i #{linderos.actual ? linderos.actual.oeste : ''}
              div.tr.border-bottom
                div(style={'-webkit-flex': 6, 'font-size':'16px'}).td.center.border-right
                  p 
                    b AVALUO
                div(style={'-webkit-flex': 6,'font-size':'16px'}).td.center
                  p 
                    b DATOS FISICOS
              div.tr.border-bottom
                div(style={'-webkit-flex': 3.5}).td.right
                  p 
                    b Superficie(m2)
                div(style={'-webkit-flex': 2.5}).td.right.border-right
                  p 
                    b Total 
                div(style={'-webkit-flex': 3.5}).td.left.border-right
                  p 
                    b Tenencia del Terreno:
                div(style={'-webkit-flex': 2.5}).td.center
                  p 
                    b 
                      i #{datosFisicos.terreno}
              div.tr.border-bottom
                div(style={'-webkit-flex': 2}).td.left.border-right
                  p 
                    b Terreno:
                div(style={'-webkit-flex': 1.5}).td.border-right
                  p 
                    | #{property.superficieTerreno}
                div(style={'-webkit-flex': 2.5, 'justify-content':'end'}).td.border-right
                  p 
                    | #{avaluoTerreno}
                div(style={'-webkit-flex': 3.5}).td.left.border-right
                  p 
                    b Tenencia de la Construcción:
                div(style={'-webkit-flex': 2.5}).td.center
                  p 
                    b 
                      i #{datosFisicos.construccion}
              div.tr.border-bottom
                div(style={'-webkit-flex': 2}).td.left.border-right
                  p 
                    b Construcción:
                div(style={'-webkit-flex': 1.5}).td.border-right
                  p 
                    | #{property.superficieConstruccion}
                div(style={'-webkit-flex': 2.5, 'justify-content':'end'}).td.border-right
                  p 
                    | #{avaluoConstruccion}
                div(style={'-webkit-flex': 3.5}).td.left.border-right
                  p 
                    b Régimen de Propiedad:
                div(style={'-webkit-flex': 2.5}).td.center
                  p 
                    b 
                      i #{datosFisicos.propiedad}
              div.tr.border-bottom
                div(style={'-webkit-flex': 6}).td.border-right
                div(style={'-webkit-flex': 3.5}).td.left.border-right
                  p 
                    b Régimen Familiar:
                div(style={'-webkit-flex': 2.5}).td.center
                  p 
                    b 
                      i #{datosFisicos.familiar}
              div.tr.border-bottom
                div(style={'-webkit-flex': 6}).td.border-right
                div(style={'-webkit-flex': 3.5}).td.left.border-right
                  p 
                    b Nro de Arrendamiento de Ejido:
                div(style={'-webkit-flex': 2.5}).td.center
                  p 
                    b 
                      i #{datosFisicos.arrendamiento}
              div.tr.border-bottom
                div(style={'-webkit-flex': 12, 'font-size':'16px'}).td.center
                  p 
                    b Datos Físicos
              div.tr.border-bottom
                div(style={'-webkit-flex': 6, 'font-size':'16px'}).td.center.border-right
                  p Descripción de Uso
                div(style={'-webkit-flex': 6, 'font-size':'16px'}).td.center
                  p Servicios Públicos
              div.tr.border-bottom
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Comercio al Detal') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Comercio al Detal
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Agropecuaria') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Agropecuaria
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Acueducto') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Acueducto
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Acera') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Acera
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Telefono') ? 'gray' : 'white'}).td.center
                  p 
                    b Teléfono
              div.tr.border-bottom
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Comercio al Mayor') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Comercio al Mayor
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Otro') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Otro
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Electricidad') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Electricidad
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Transporte') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Transporte
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Cable Tv') ? 'gray' : 'white'}).td.center
                  p 
                    b Cable Tv
              div.tr.border-bottom
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Industrial') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Industrial
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Residencial') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Residencial
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Cloacas') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Cloacas
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Septico') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Séptico
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Alum. Pub.') ? 'gray' : 'white'}).td.center
                  p 
                    b Alum. Pub.
              div.tr.border-bottom
                div(style={'-webkit-flex': 3, 
                'background': datosFisicos.descripcionUso.includes('Servicio') ? 'gray' : 'white'}).td.center.left.border-right
                  p 
                    b Servicio
                div(style={'-webkit-flex': 3}).td.border-right
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Pavimento') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Pavimento
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Elec. Indust.') ? 'gray' : 'white'}).td.center.border-right
                  p 
                    b Elec. Indust.
                div(style={'-webkit-flex': 2, 
                'background': datosFisicos.serviciosPublicos.includes('Otro') ? 'gray' : 'white'}).td.center
                  p 
                    b Otro
              div.tr
                div(style={'-webkit-flex': 6, 'align-content':'space-between', 'min-height':'50px', 'font-size':'12px'}).td.border-right
                  p.left 
                    b Observaciones:
                  p.left 
                    | "#{observaciones}"
                  p.left 
                    b Elab por: &nbsp;
                    | #{autor}
                  p.left 
                    b Hora: &nbsp;
                    | #{moment().add(8, 'h').format('hh:mm:ss')}
                div(style={'-webkit-flex': 6, 'min-height':'25px'}).td
                  p.left  
                    b Funcionario Revisor:
                  hr(style={'margin-top':'25px', 'width':'50%', 'margin-right':'3px', 'color':'black'})
            div.keep-together.break-after
              div(style={'margin-top':'20px'})
                hr(style={'margin-top':'45px', 'width':'25%', 'color':'black', 'margin-right':'1px'}).right
                p(style={'font-size':'16px'}).right
                  b Ing. Yelitze Angola de Anderez 
                p(style={'font-size':'16px'}).right
                  b Jefe de la División de Catastro
                div.table
                  div.tr
                    div(style={'-webkit-flex': 3.5}).td.border-right
                      p 
                        b(style={'font-size':'11px'}) Fecha de Expedición &nbsp;
                        | #{moment().format('YYYY/MM/DD')}
                    div(style={'-webkit-flex': 3.5}).td
                      p 
                        b(style={'font-size':'11px'}) Fecha de Vencimiento &nbsp;
                        | #{moment().add(1, 'years').format('YYYY/MM/DD')}
              div(style={'font-size':'10px'})
                p LA DURACION DE ESTA CEDULA SERA DE UN (1) AÑO A PARTIR DE LA FECHA O HASTA QUE EL INMUEBLE SUFRA MODIFICACIONES QUE ALTEREN SU VALOR 
    div#wrapper.break-before
      block header
        header#header
          div.header-child
            img#alcaldia(src='images/alcaldia-logo.png')
          div.header-child
            img(src='images/iglogo.png', width='70px', height='70px')
            img(src='images/sut.png', width='120px', height='40px')
          div.header-child
            div 
              p(style={'padding':'2px'}) CEDULA N°: #{datos.nroCedula}
              p(style={'padding':'2px'}) CONTROL N°: #{datos.nroControl}
              p(style={'padding':'2px'}) RECIBO N°: #{datos.nroRecibo}
            img#QR(src=QR, alt='QR')
      div#content
        block title                                                                 
          p 
            b Mapa de Ubicación
        block content
          div(style={'width':'85%', 'height':'95%'})
            div(style={'border':'1px solid gray', 'margin':'5px'})
              img(src=mapa, alt='mapa', width='100%', height='800px')
            div
              p(style={'font-size':'20px'}).left
                b Dirección:
              p.left
                b #{datos.direccion} 
              div(style={'display':'flex', 'height':'80px', 'align-content':'flex-end', 'margin-top':'5px', 'margin-bottom':'5px'})
                div(style={'border': 'none'}).table
                  div.tr
                    div(style={'-webkit-flex': 4}).td.all-border
                      p.left
                        b Fecha de Expedición: &nbsp; 
                        | #{moment().format('YYYY/MM/DD')}
                    div(style={'-webkit-flex': 8}).td
                  div.tr
                    div(style={'-webkit-flex': 4}).td.all-border
                      p.left
                        b Fecha de Vencimiento: &nbsp; 
                        | #{moment().add(1, 'years').format('YYYY/MM/DD')}
                    div(style={'-webkit-flex': 8}).td
                      p
                        b DIGITALIZADO POR: &nbsp;
                        | #{autor} &nbsp; &nbsp; &nbsp;
                        | Hora: 
                        | #{moment().add(8, 'h').format('hh:mm:ss')}
              div(style={'display':'flex','justify-content':'flex-end', 'align-self':'flex-end'})   
                div(style={'font-size':'16px'}).table
                  div.tr.border-bottom
                    div(style={'-webkit-flex': 7.7}).td.center
                      p
                        b Código Catastral
                  div.tr.border-bottom
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b EFed
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Mun
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Prr
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Amb
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Sec
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b SSec
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Man
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Par
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Sbp
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p
                        b Niv
                    div(style={'-webkit-flex': 0.7}).td.center
                      p
                        b Und
                  div.tr
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.efed : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.mun : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.prr : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.amb : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.sec : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.ssec : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.man : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.par : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.sbp : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center.border-right
                      p #{codCat ? codCat.niv : '0'}
                    div(style={'-webkit-flex': 0.7}).td.center
                      p #{codCat ? codCat.und : '0'} 
              hr(style={'margin-top':'40px', 'width':'25%', 'color':'black', 'margin-left':'1px'}).left
              p(style={'font-size':'16px'}).left 
                b Ing. Yelitze Angola de Anderez 
              p(style={'font-size':'16px'}).left 
                b Jefe de la División de Catastro