extends default
 
block content
  div#fecha
    p
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p
      b Código de Multa:
      span &nbsp; #{codigo}
      br
      b Funcionario:
      span &nbsp; #{datos.funcionario.nombreCompletoFuncionario}
  div#planilla
    div
      h2 CONSTANCIA DE PAGO DE MULTA
    div.ticket(style={'margin':'2% 7.5%', 'border': '2px solid #3387ca'})
      h2(style={'margin':'0', 'padding-left': '20px', 'padding-top': '20px', 'text-align':'start'}) Ciudadano:
      div.ticket-data
        div
          p
            b Nombre:&nbsp;
            | #{datos.funcionario.nombreCompleto}
          p
            b Cedula:&nbsp;
            | #{datos.funcionario.nacionalidad}-#{datos.funcionario.cedula}
        div(style={'margin-left':'5%'})
          p
            b Dirección:&nbsp;
            | #{datos.funcionario.direccion}
          p
            b Teléfono:&nbsp;
            | #{datos.funcionario.telefono}
        div(style={flex: '0.5', 'text-align': 'center'})
          img#QR(src=QR style={'margin-bottom': '10px'})
    div           
      div(style={'font-size':'20px', 'font-weight':'bold'}).row-constancy
        div(style={'text-align':'start', }) Descripción
        div(style={'text-align':'center'}) Fecha
        div(style={'text-align':'center'}) Monto (PETRO)
        div(style={'text-align':'center'}) Monto (Bs)
      hr.divider
      div.row-constancy
        div(style={'text-align':'start' }) #{datos.funcionario.motivo}
        div(style={'text-align':'center' }) #{moment(fecha).format('DD/MM/YYYY')}
        div(style={'text-align':'center' }) #{datos.funcionario.utmm}
        div(style={'text-align':'center' }) #{costoFormateado}    
  div(style={'text-align':'start', 'width': '90%'})
    p
      b Nota:
      | El precio de la Unidad Tributaria Municipal de San Francisco (PETRO) para la fecha es de Bs. #{PETRO}