extends default

block content
  div#fecha
    p
      b FECHA:
        span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p
      b Código de Tramite:
        span &nbsp; #{codigo}
  div#planilla
    div.table                                 
      div.th
        p DATOS DEL SOLICITANTE
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Nombre:
            span &nbsp; #{datos.usuario.nombre}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Cédula:
            span &nbsp; #{datos.usuario.cedula}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Teléfono:
            span &nbsp; #{datos.usuario.telefono}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Correo:
            span &nbsp; #{datos.usuario.correo}
      div.tr
        div.td(style={ width: '50%' }).border-right
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccion}
        div.td(style={ width: '50%' })
          p
            b Parroquia:
            span &nbsp; #{datos.usuario.parroquia}
    div.table
      if datos.usuario.propietarios.length  > 1
        div.th
          p DATOS DE PROPIETARIOS         
        each propietario in datos.usuario.propietarios
          div.tr
            div.td(style={ width: '50%' }).border-bottom.border-right
              p 
                b Nombre o Razon Social:
                span &nbsp; #{propietario.razonSocial}
            div.td(style={ width: '50%' }).border-bottom
              p
                b Cédula o RIF:
                span &nbsp; #{propietario.nacionalidad}-#{propietario.cedulaORif}      
      else
        div.th
          p DATOS DE PROPIETARIO
        div.tr
          div.td(style={ width: '50%' }).border-bottom.border-right
            p 
              b Nombre o Razon Social:
              span &nbsp; #{datos.usuario.propietarios[0].nombre}
          div.td(style={ width: '50%' }).border-bottom
            p
              b Cédula o RIF:
              span &nbsp; #{datos.usuario.propietarios[0].nacionalidad}-#{datos.usuario.propietarios[0].cedulaORif}
        div.tr
          div.td(style={ width: '50%' }).border-bottom.border-right
            p
              b Telefono:
              span &nbsp; #{datos.usuario.propietarios[0].telefono}
          div.td(style={ width: '50%' }).border-bottom
            p
              b Correo:
              span &nbsp; #{datos.usuario.propietarios[0].correo}
        div.tr
          div.td(style={ width: '50%' }).border-right
            p
              b Dirección:
              span &nbsp; #{datos.usuario.propietarios[0].direccion}
          div.td(style={ width: '50%' })
            p
              b Parroquia:
              span &nbsp; #{datos.usuario.propietarios[0].parroquia}           
    div.table           
      div.th
        p DATOS DE LA EMPRESA
      div.tr           
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Denominación o Razón Social:
            span &nbsp; #{datos.usuario.denominacion}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Actividad Comercial:
            span &nbsp; #{datos.usuario.actividadComercial}               
      div.tr           
        div.td(style={ width: '50%' }).border-right.border-bottom
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccionInmueble}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Parroquia:
            span &nbsp; #{datos.usuario.parroquiaInmueble}
      .tr
        .td(style={ width: '50%' }).border-right
          p
            b Teléfono:
            span &nbsp; #{datos.usuario.telefonoInmueble}
        .td(style={ width: '50%' })
          p
            b Correo Eletrónico:
            span &nbsp; #{datos.usuario.correoInmueble}
    div#recaudos
      h3 REQUISITOS OBLIGATORIOS
      hr.divider
      ul
        li Copia del Documento de Propiedad Copia del documento de Propiedad o Contrato de Arrendamiento (a nombre de la empresa) notariado o visado por el colegio de Abogados
        li Croquis de Ubicación con punto de referencia.
        li Constancia de Nomenclatura expedida por la Oficina Municipal de Catastro (en caso de que el documento de registro no lo especifique).
        li Original y Copia de la Constancia de Cumplimiento de Normas Técnicas emitida por el Instituto Autónomo Cuerpo de Bomberos del Municipio San Francisco.
        li Dos (2) fotografías de la Fachada del Inmueble.
        li Dos (2) Copia del Registro de Comercio (Acta Constitutiva – Estatutos).
        li Copia del Recibo de CORPOELEC.
        li Plano de Distribución Interna del local con medidas a escala incluyendo la ubicación de los puestos de estacionamiento (Impreso Avalado por un Arquitecto y Digital en versión AutoCAD 2010 en un CD).
        li Original y copia de Solvencia Municipal sobre Inmueble Urbano vigente.
        li En caso de que el establecimiento comercial posea renta de licores anterior debe presentar copia de la misma.
        li Planilla de liquidación o recibo de pago por el servicio solicitado.
        li La Solicitud debe ser tramitada por el propietario, si la misma es realizada por un particular deberá presentar Original de la Autorización firmada por ambos anexando Copia de las Cédulas de Identidad.
      hr.divider
    div(style={'margin-bottom':'50px', 'font-size':'14px'})
      h3 OBSERVACIONES GENERALES
      ul
        li Todos los recaudos deberán ser consignados en una carpeta marrón oficio con su respectivo gancho y separadores entre cada requisito.
 

