extends default

block css
  link(rel="stylesheet", href="css/cpu-cert-CC.css")

block content
  main.certificado
    header.pageHeader.row
    .header-table
      #fecha-exp(style='width: 30%;')
        p
          b EXP.:
          |  #{codigo}
        p
          b FECHA:
          |  #{fecha}
      #tramite(style='width: 50%;')
        h1 C&Oacute;DIGO CATASTRAL
        h4 N&deg; #{datos.funcionario.codCat.toUpperCase()}
      div(style='width: 20%; padding: 2px 0;')
        img(src=datos.QR, alt='QR')
    .datos-certificado.row
      .croquis.grow2
        h4 CROQUIS DE UBICACI&Oacute;N
        img(src=datos.funcionario.croquis, alt='croquis', style={ width: '400px', 'object-fit': 'contain' })
        p PLANO REFERENCIAL, Escala Gr&aacute;fica
      .grow2(style='width: 60%')
        table
          each prop in datos.funcionario.propietarios
            tr
              th(scope='row') Nombre: 
              td #{prop.nombreCompleto}
              th(scope='row') Cedula o RIF
              td #{prop.cedulaORif}  
          tr
            th(scope='row') DATOS DE REGISTRO:
            td(colspan=3) #{datos.funcionario.datosRegistro}
          tr
          tr
          tr
            th(scope='row') CIRCUITO:
            td(colspan=3) #{datos.funcionario.circuito}
          tr
            th(scope='row') PARROQUIA:
            td(colspan=3) #{datos.funcionario.parroquia}
          tr
            th(scope='row') DIRECCION:
            td(colspan=3) #{datos.funcionario.direccion}
          tr
          tr
          tr
            th(scope='row') AREA:
            td  #{datos.funcionario.area} m²
          tr
            th(scope='row') PLANO:
            td(colspan=3) #{datos.funcionario.plano}
          tr
          tr
            th(scope='row') OBSERVACIONES:
            td(colspan=3) #{datos.funcionario.observaciones}
    .funcionarios.row
      .grow1
        p.grow1 Aprobado:
        h4 Ing. Marta Castillo
        h4 Directora de Catastro
      .grow1
        p.grow1 Revisado:
        h4 Jefe de Departamento
      .grow1
        p.grow1 Realizado:
        h4 Analista de C&oacute;digo