extends default

block css
  link(rel="stylesheet", href="css/cpu-deny-UC.css")

block content
  main
    #content
      #sub-header.flex
        .large
          | Atención, 
          br
          b(style='color: red') #{datos.usuario.nombre}
          br
          b(style='color: red') C.I.: #{datos.usuario.nacionalidad}-#{datos.usuario.cedula}
          br
          | Representante.-
        .flex
          div(style='text-align: right;')
            span(style='color: red') Nº Exp: #{codigo}
            br
            span(style='color: red') Fecha: #{fecha}
      #informe
        p
          | !{datos.funcionario.informe}
      .should-break-page
        p(style='margin-top:100px; width: 100%; text-align: center;')
          | Atentamente,
        p#directora
          | ARQ. CAROLINNE VALBUENA.
          br
          | Directora de la Oficina Municipal de Planificación Urbana.

      
