extends default

block content
  div#fecha
    p 
      b FECHA:
      //- span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Tramite:
      span &nbsp; #{codigo}
  div#planilla
    div#text-input
      p Ciudadano:
        br
        b Lcdo. Jean Carlos Martinez
        br
        b Intendente Tributario Municipal
        br
        | Su Despacho.
      h2(style={'text-align': 'center'}) DETERMINACIÓN DEL VALOR FISCAL DE INMUEBLES URBANOS
      p 
        b PROPIETARIO: 
        | #{datos.funcionario.nombreORazon} 
        b C.I. O RIF:
        | #{datos.funcionario.cedulaORif} 
        br
        | En atención a su solicitud de determinación de impuesto sobre inmuebles urbanos, ubicados en: #{datos.funcionario.ubicadoEn} 
        br
        | Parroquia: #{datos.funcionario.parroquia} 
        br
        | Se le realizó la estimación del valor fiscal del inmueble arrojando lo siguiente:
    table(style={ width: '100%', margin: '20px 0'}).table-normal                                  
      // FIXME: Cambiar la estructura a la correcta  
      tr
        th Tipo de inmueble
        th Área del terreno
        th Tipo de construcción
        th Sector
        th Valor fiscal
      tr        
        td #{datos.funcionario.tipoInmueble}
        td #{datos.funcionario.areaConstruccion}
        td #{datos.funcionario.areaConstruccion}
        td #{datos.funcionario.sector}
        td #{datos.funcionario.valor}
    table(style={ width: '50%', margin: '20px 0'}).table-normal
      caption VALOR FISCAL (BS. S.)
      // FIXME: Cambiar la estructura a la correcta  
      //- each data in values
        tr  
          td(style={ width: '50%', 'background-color': '#fadc68'}) #{data.value}
          td(style={ width: '50%'}) #{data.value}                
    div#firma(style={'margin-bottom':'50px', 'padding-bottom': '20px'})
      div.item-firma
        hr
        b Ing. Marta Castillo 
        br 
        b Directora de Catastro
      div.item-firma
        hr
        b Jefe de Departamento 
      div.item-firma
        hr
        b Estimador(a)
        br