extends default

block css
  link(rel="stylesheet", href="css/cpu-cert-CC.css")

block content
  div(style='height:200px')
  main.certificado
    header.pageHeader.row
    .header-table
      #fecha-exp(style='width: 30%;')
        p
          b EXP.:
          |  #{codigo}
        p
          b FECHA:
          |  #{moment(fecha).format('DD/MM/YYYY')}
      #tramite(style='width: 50%;')
        h1 C&Oacute;DIGO CATASTRAL
        h1 N&deg; #{datos.funcionario.codCat.toUpperCase()}
      div(style='width: 20%; padding: 2px 0;')
        img#QR(src=QR, alt='QR')
    .datos-certificado.row
      .croquis.grow2
        h4 CROQUIS DE UBICACI&Oacute;N
        img(src=datos.funcionario.croquis, alt='croquis', style={ width: '400px', 'object-fit': 'contain' })
        p PLANO REFERENCIAL, Escala Gr&aacute;fica
      .grow2(style='width: 60%')
        table(style='border: none')
          each prop in datos.funcionario.propietarios
            tr
              th(scope='row') Raz&oacute;n Social: 
              td #{prop.razonSocial}
              th(scope='row') Cedula o RIF
              td #{prop.nacionalidad}-#{prop.cedulaORif}
          tr
            th(scope='row') DATOS DE REGISTRO:
            td(colspan=3) #{datos.funcionario.datosRegistro}
          tr
          tr
          tr
            th(scope='row') CIRCUITO:
            td(colspan=3) #{datos.funcionario.circuito}
          tr
            th(scope='row') PARROQU&Iacute;A:
            td(colspan=3) #{datos.funcionario.parroquia}
          tr
            th(scope='row') DIRECCION:
            td(colspan=3) #{datos.funcionario.direccion}
          tr
          tr
            th(scope='row') &Aacute;REA DE CONSTRUCCIÓN:
            td  #{datos.funcionario.areaConstruccion > 0 ? `${datos.funcionario.areaConstruccion} m²` : 'N/A' } 
          tr
            th(scope='row') &Aacute;REA DE TERRENO:
            td  #{datos.funcionario.areaTerreno} m²
          tr
            th(scope='row') PLANO:
            td(colspan=3) #{datos.funcionario.plano || ''}
          tr
          tr
            th(scope='row') OBSERVACIONES:
            td(colspan=3) #{datos.funcionario.observaciones || ''}
    .funcionarios.row
      .grow1
        p.grow1 Aprobado: 
        h4 Ing. Marta Castillo
        h4 Directora de Catastro
      .grow1
        p.grow1 Aprobado: 
        h4 Jefe de Departamento