extends default

block content
  div#fecha
    p
      b FECHA:
        span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p
      b Código de Tramite:
        span &nbsp; #{codigo}
  div#planilla
    div.table                                 
      div.th
        p DATOS DEL SOLICITANTE
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Nombre:
            span &nbsp; #{datos.usuario.nombre}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Cédula:
            span &nbsp; #{datos.usuario.cedula}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Teléfono:
            span &nbsp; #{datos.usuario.telefono}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Correo:
            span &nbsp; #{datos.usuario.correo}
      div.tr
        div.td(style={ width: '50%' }).border-right
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccion}
        div.td(style={ width: '50%' })
          p
            b Parroquia:
            span &nbsp; #{datos.usuario.parroquia}
    div.table
      div.th
        p DATOS DE LA EMPRESA     
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Denominación o Razón Social:
            span &nbsp; #{datos.usuario.denominacion}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccionEmpresa}
            
      div.tr
        div.td(style={ width: '50%' }).border-right.border-bottom
          p
            b Parroquia:
            span &nbsp; #{datos.usuario.parroquia}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Teléfono:
            span &nbsp; #{datos.usuario.telefonoEmpresa}
      div.tr
        div.td(style={ width: '50%' }).border-right
          p
            b Correo:
            span &nbsp; #{datos.usuario.correoEmpresa}
    div.table           
      div.th
        p DATOS DEL INMUEBLE Y/O PARCELA
      div.tr
        div.td(style={ width: '100%' }).border-bottom
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccionInmueble}
      div.tr           
        div.td(style={ width: '50%' }).border-right
          p
            b Parroquia:
            span &nbsp; #{datos.usuario.parroquiaInmueble}
        div.td(style={ width: '50%' })
          p
            b Tipo de inmueble:
            span &nbsp; #{datos.usuario.tipoInmueble}
    div#recaudos
      h3 REQUISITOS OBLIGATORIOS
      hr.divider
      ul
        li Copia del Documento de Propiedad Copia del documento de Propiedad o Contrato de Arrendamiento (a nombre de la empresa) notariado o visado por el colegio de Abogados
        li Copia de la Constancia de Cumplimiento de Normas Técnicas del Local, emitida por el Instituto Autónomo Cuerpo de Bomberos del Municipio San Cristóbal.
        li Una (01) Copia del Registro de Comercio – Acta Constitutiva.
        li Solvencia de inmuebles urbanos del local.
        li Plano de Distribución Interna del Local con medidas a escala (Impreso y Digital en CD, Avalado por un Arquitecto formato 2010 ACAD).
      hr.divider
    div(style={'margin-bottom':'50px', 'font-size':'14px'})
      h3 OBSERVACIONES GENERALES
      ul
        li Todos los recaudos deberán ser consignados en una carpeta marrón oficio con su respectivo gancho y separadores entre cada requisito.