extends default

block css
  link(rel="stylesheet", href="css/cpu-solv-RRI.css")

block content
  div.row
     p
        b EXP.:
        |  #{codigo}
     p
        b FECHA:
        |  #{moment(fecha).format('DD/MM/YYYY')}
  div 
     h1 REGISTRO REFERENCIAL DEL INMUEBLE 
  div.container-data 
     p DIRECCIÓN: #{datos.funcionario.ubicadoEn}
     p PARROQUIA: #{datos.funcionario.parroquiaEdificio}
     if datos.funcionario.estimacionSimple.esTerreno
        P AREA DE TERRENO: #{datos.areaTerreno} M2
     if datos.funcionario.estimacionSimple.esConstruccion 
         P AREA DE CONSTRUCCIÓN: #{datos.areaConstruccion} M2
     p R.R INMUEBLE: 
        h1 #{datos.codigoRRI}
  div 
     h1#watermark VALIDO USO CATASTRO
