html
   head
      title Template
      link(href='css/default.css' rel='stylesheet' type='text/css')
      link(rel="stylesheet", href="css/cpu-solv-RRI.css")
      link(rel="stylesheet", href="css/sedemat.css")
   body
      div#wrapper
         header#header
            div.header-child
               img#logo(src='images/alcaldia-logo.png')
            div.header-child
               p REPÚBLICA BOLIVARIANA DE VENEZUELA
               p ESTADO TÁCHIRA, ALCALDÍA DEL MUNICIPIO SAN CRISTÓBAL
               p SUPERINTENDENCIA MUNICIPAL DE ADMINISTRACIÓN TRIBUTARIA DE SAN CRISTÓBAL (SUMATSC)
            div.header-child
               img#logo(src='images/encabezado-alcaldia.png')
         img#divider(src='images/franja-2.0.png')
         div#content
            div#planilla(style={'font-size':'13px'})
               div.row
                  p
                     b FECHA:
                     |  #{moment().format('DD/MM/YYYY')}
               div 
                  h1 REGISTRO REFERENCIAL DEL INMUEBLE 
               div.container-data 
                  p DIRECCIÓN: #{datos.direccion ? datos.direccion : 'N/A'}
                  p PARROQUIA: #{datos.parroquia ? datos.parroquia : 'N/A'}
                  P CLASIFICACION: #{datos.clasificacion ? datos.clasificacion : 'N/A'}
                  P TIPO DE INMUEBLE: #{datos.tipoInmueble ? datos.tipoInmueble : 'N/A'}
                  P AREA DE TERRENO: #{datos.metrosTerreno ? datos.metrosTerreno + ' M2' : 'N/A'}
                  P AREA DE CONSTRUCCIÓN: #{datos.metrosConstruccion ? datos.metrosConstruccion + ' M2' : 'N/A'}
                  P AVALUO DE TERRENO: #{datos.avaluoTerreno ? datos.avaluoTerreno : 'N/A'}
                  P AVALUO DE CONSTRUCCIÓN: #{datos.avaluoconstruccion ? datos.avaluoconstruccion : 'N/A'}
                  p CODIGO CATASTRAL DEL INMUEBLE: 
                     h1 #{datos.codigoCatastral}
               div 
                  h1#watermark VALIDO USO CATASTRO
         include footer.pug