extends default

block css
  link(rel="stylesheet", href="css/cpu-deny-UC.css")

block content
  main
    #content
      #sub-header.flex
        .large
          | Atención, 
          br
          b(style='color: red') #{form.solicitante.nombre_completo}
          br
          b(style='color: red') C.I: #{form.solicitante.cedula}
          br
          | Representante.-
        .flex
          div(style='text-align: right;')
            span(style='color: red') Nº Exp: #{codigo}
            br
            span(style='color: red') Fecha: #{fecha}
      #informe
        p
          | #{form.informe_rechazo}
      .should-break-page
        p(style='margin-top:100px; width: 100%; text-align: center;')
          | Atentamente,
        p#directora
          | ARQ. CAROLINNE VALBUENA.
          br
          | Directora de la Oficina Municipal de Planificación Urbana.

      
