extends default

block css
  link(rel="stylesheet", href="css/cpu-solv-RRI.css")

block content
  div.row
     p
        b EXP.:
        |  #{codigo}
     p
        b FECHA:
        |  #{moment(fecha).format('DD/MM/YYYY')}
  div 
     h1 REGISTRO REFERENCIAL DEL INMUEBLE 
  div.container-data 
     p DIRECCIÓN: #{datos.direccion}
     p PARROQUIA: #{datos.parroquia}
     if datos.areaTerreno
        P AREA DE TERRENO: #{datos.areaTerreno}
     if datos.areaConstruccion 
         P AREA DE CONSTRUCCIÓN: #{datos.areaConstruccion}
     p R.R INMUEBLE: 
        b #{datos.codigoRRI}
        |
  div 
     h1#watermark VALIDO USO CATASTRO
