html
  head
    title Template
    link(href='css/default.css' rel='stylesheet' type='text/css')
    block css
  body
    div#wrapper
      block header
        header#header
          div.header-child
            img#alcaldia(src='images/LogoAlcaldia.png')
          div.header-child
            - var nombre = ''
            - var rif = ''
            case institucion
              when 'CBM'
                - nombre = 'Instituto Autonomo Cuerpo de Bomberos del Municipio Maracaibo'
                - rif = 'G-20003346-0'
              when 'SAGAS'
                - nombre = 'Servicio Autonomo para el Suministro de Gas'
                - rif = 'G-20005358-5'
              when 'CPU'
                - nombre = 'Centro de Procesamiento Urbano'
                - rif = 'G-20005482-4'
            p Alcaldida Bolivariana de Maracaibo
            p #{nombre}
            p R.I.F.: #{rif}
          div.header-child
            - var src = ''
            case institucion
              when 'CBM'
                - src = 'images/LogoBomberos.png'
              when 'SAGAS' 
                - src ='images/SAGAS.png'
              when 'CPU'
                - src ='images/CPU.png'
              default
                - src = 'images/LogoAlcaldia.png'
            img#logo(src=src)
        img#divider(src='images/Divider.png')
      div#content
        if !datos.funcionario
          p FORMATO #{formato}
          p SOLICITUD DE #{tramite.toUpperCase()}
        block content
      block footer
        footer#footer
          - var direccion = ''
          case institucion
            when 'CBM'
              - direccion = 'Av. 8 (Santa Rita), Esq. Calle 86 (Antiguo FIME), Sede Comandancia General. Teléfonos: (0261) 7186058 / 7186065 / 7186066.'
            when 'SAGAS'
              - direccion = 'Avenida 3E Entre Calles 72 y 73. Sector La Lago, Edificio Club de Leones. Teléfono: (0261) 7934400'
            when 'CPU'
              - direccion = 'Av.3F con calle 81, Sector Valle Frío, Edif. CPU. Teléfono: 0414-3677150'
          img#divider(src='images/Divider.png')
          div(style={ display: '-webkit-flex', padding: '0px 50px', 'justify-content': 'center', '-webkit-justify-content': 'center' })
            p(style={ display: '-webkit-flex', '-webkit-justify-content': 'center', '-webkit-align-items': 'center', 'margin': '0px 50px' }) #{direccion}
            img(src='images/footer_logo.png')