html
  head
    title Template
    link(href='css/default.css' rel='stylesheet' type='text/css')
    block css
  body
    div#wrapper
      block header
        header#header
          div.header-child
            img#alcaldia(src='images/alcaldia-logo.png')
          div.header-child
            - var nombre = ''
            - var rif = ''
            case institucion
              when 'CBM'
                - nombre = 'Instituto Autonomo Cuerpo de Bomberos del Municipio Maracaibo'
                - rif = 'G-20003346-0'
              when 'SAGAS'
                - nombre = 'Servicio Autonomo para el Suministro de Gas'
                - rif = 'G-20005358-5'
              when 'CPU'
                - nombre = 'Centro de Procesamiento Urbano'
                - rif = 'G-20005482-4'
              when 'SEDEPAR'
                - nombre = 'Servicio Desconcentrado de Plazas y Parques'
                - rif = 'G-20006426-9'
              when 'IMA'
                - nombre = 'Instituto Municipal del Ambiente'
                - rif = 'G-20000199-2'
              when 'PMM'
                - nombre = 'Instituto Autónomo Policía del Municipio de Maracaibo'
                - rif = 'G-20001881-0'
              when 'IMTCUMA'
                - nombre = 'Instituto Municipal de Transporte Colectivo y Urbano de Pasajeros del Municipio Maracaibo'
                - rif = '' 
              when 'SEDEBAT'
                  - nombre = 'SEDEBAT'
                  - rif = 'G-200091533'
            p Alcaldia de San Francisco
            p #{nombre}
            p R.I.F.: #{rif}
          div.header-child
            - var src = ''
            case institucion
              when 'CBM'
                - src = 'images/LogoBomberos.png'
              when 'SAGAS' 
                - src = 'images/SAGAS.png'
              when 'CPU'
                - src = 'images/CPU01.png'
              when 'SEDEPAR'
                - src = 'images/SEDEPAR.png'
              when 'IMA'
                - src = 'images/IMA.png' 
              when 'PMM'
                - src = 'images/POLIMARACAIBO.png' 
              when 'IMTCUMA'
                - src = 'images/imtcuma.png' 
              when 'SEDEBAT'
                - src ='images/sedebat-logo.png'                                 
              default
                - src = 'images/alcaldia-logo.png'
            if institucion === 'PMM' || institucion === 'CBM'
              img#logo(src=src, style={width:'100px !important'})
            else
              img#logo(src=src)
        img#divider(src='images/franja-2.0.png')
      div#content
        block title                                                                 
          if !datos.funcionario
            p FORMATO #{formato}
            p SOLICITUD DE #{tramite.toUpperCase()}
        block content
      block footer
        footer#footer
          - var direccion = ''
          case institucion
            when 'CBM'
              - direccion = 'Av. 8 (Santa Rita), Esq. Calle 86 (Antiguo FIME), Sede Comandancia General. Teléfonos: (0261) 7186058 / 7186065 / 7186066.'
            when 'SAGAS'
              - direccion = 'Avenida 3E Entre Calles 72 y 73. Sector La Lago, Edificio Club de Leones. Teléfono: (0261) 7934400'
            when 'CPU'
              - direccion = 'Av.3F con calle 81, Sector Valle Frío, Edif. CPU. Teléfono: 0414-3677150'
            when 'SEDEBAT'
              - direccion = 'Telfs. (0261) 793.55.08 (Master) Fax. (0261) 793.58.69 Av. 3F entre calles 81 y 81A, Edif. CPU Planta Baja'                
          //- img#divider(src='images/franja-2.0.png')
          //- div(style={ display: '-webkit-flex', padding: '0px 50px', 'justify-content': 'center', '-webkit-justify-content': 'center' })
          //-   p(style={ display: '-webkit-flex', '-webkit-justify-content': 'center', '-webkit-align-items': 'center', 'margin': '0px 50px' }) #{direccion}
          //-   img(src='images/alcaldia-logo.png' height='64' width='148')