extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block header
  div(style={display:'-webkit-flex', 'align-items': 'center'})
    div(style={'-webkit-flex': 3, 'text-align':'start'})
      img(src="images/alcaldia-logo.png", alt="hacienda" style={width:'350px', height:'150px'})
    div(style={'-webkit-flex': 1})
      div(style={'margin':'15px 0'})
        h3(style={'margin': '0 auto'}) SOLVENCIA MUNICIPAL 
      div(style={'border':'1px solid grey'})
        div.tr(style={'font-size': '12px'})
          div(style={'-webkit-flex': 1})
            div(style={'-webkit-flex': 1,'border-color':'grey'}).td.center.border-right.border-bottom
              p(style={'margin': '0 auto','padding':'0'})
                b Mes
            div(style={'-webkit-flex': 1}).td.center
              p(style={'margin': '0 auto','padding':'auto 15px', 'font-size':'20px','border-right':'1px solid grey', 'width':'100%'}) 
                b #{moment().format('MM')}               
          div(style={'-webkit-flex': 1})
            div(style={'-webkit-flex': 1}).td.center
              p(style={'margin': '0 auto','padding':'0','border-bottom':'1px solid grey', 'width':'100%'})
                b Año
            div(style={'-webkit-flex': 1}).td.center
              p(style={'margin': '0 auto', 'padding':'auto 0', 'font-size':'20px'}) 
                b #{moment().format('YYYY')}
  img#divider(src='images/franja-2.0.png')
block title
block content
  div#planilla.solvencia
    div(style={'margin-bottom':'5%','margin-toP':'10%'}).center
        h3 El Intendente Municipal Tributario hace constar que
    div
      .tr
        .td
          p
            b El Contribuyente:
            span &nbsp;#{datos.usuario.razon_social}.&nbsp;
      .tr
        .td
          p
            b R.I.M:
            span &nbsp;#{datos.usuario.rim ? datos.usuario.rim : 'N/A'},&nbsp;
        .td
          p
            b C.I./R.I.F:
            span &nbsp;#{datos.usuario.documento}.&nbsp;
      .tr
        .td
          p
            b Dirección:
            span &nbsp;#{datos.usuario.direccion ? (datos.usuario.direccion.trim() !== '' ? datos.usuario.direccion : 'Dirección Sin Asignar') : 'Dirección Sin Asignar'}.&nbsp;
      .tr
        .td
          p
            b Representante Legal:
            span &nbsp;#{datos.usuario.representante_legal ? datos.usuario.representanteLegal : 'N/A'}.&nbsp;
      .tr
        .td
          p
            b El contribuyente se encuentra solvente con el municipio a la fecha de:
            span &nbsp;#{moment().format('DD/MM/YYYY')}&nbsp;
      .tr
        .td
          p
            b Esta solvencia es valida por los siguientes tres meses.
    div(style={'margin-top':"30%"}).flex.center
      div(style={height:"180px"})
        img(src=QR, alt='QR', style={width:'375px', height:"100%"})
      div.item-firma
        img(src="images/firma.png", style={'margin-top':'-90px', 'z-index':'1', height:"100%"}, alt="", srcset="")
      div(style={height:"200px"})
        img(src='images/SOLVENCIA-TIPO-B.png', alt='logo', style={width:'375px', height:"100%"})
  footer
    img#divider(src='images/franja-2.0.png')
    div(style={ display: '-webkit-flex', padding: '0px 50px', 'justify-content': 'center', '-webkit-justify-content': 'center' })
      p(style={ display: '-webkit-flex', '-webkit-justify-content': 'center', '-webkit-align-items': 'center', 'margin': '0px 50px' }) Avenida Alberto Carnevalli, Urbanización Merida, San Cristóbal, Estado Táchira, Venezuela. Zona postal 5001 RIF G-20000479-7
      p(style={ display: '-webkit-flex', '-webkit-justify-content': 'center', '-webkit-align-items': 'center', 'margin': '0px 50px' }) Teléfono Central 0276 - 3472022 / 0276- 3476036 / 0261- 3477465
      img(src='images/alcaldia-logo.png' height='64' width='148')