extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#planilla(style={'font-size':'13px'})
    div(style={'margin-bottom':'20px'})
      h2 REPORTE RECAUDADO E INGRESADO POR METODO DE PAGO
    div.table(style={'font-size':'13px'})
      div.tr
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b BANCO
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b METODO DE PAGO
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b TOTAL
    each item in payDiffCash
      div.tr
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.border-left.center
          p #{item.nombre_banco}
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p #{item.metodo_pago}
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p #{item.total}
    each item in totalMetodoPago
      div.tr
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.border-left.center
          p
            b TOTAL #{item.metodo_pago}
        div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
          p #{item.total}
    div.table(style={'font-size':'13px', 'margin-top':'20px', 'margin-bottom':'20px'})
      each item in cash
        div.tr
          div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
            p
              b #{item.metodo_pago}
          div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
            p #{item.total}  
    div(style={'margin-bottom':'20px'})
      h4 TRANSFERENCIAS DE OTRAS FECHAS
    div.table(style={'font-size':'13px'})
      div.tr
        div(style={'-webkit-flex': 3}).th.border-right.border-bottom.center
          p
            b BANCO
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b FECHA
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b TOTAL
    each item in transferDiffNow
      div.tr.break-page
        div(style={'-webkit-flex': 3}).td.border-bottom.border-right.border-left.center
          p
            b #{item.nombre_banco}
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p #{item.fecha}
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p #{item.total}
    div.tr
      div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
        p
          b TOTAL TRANSFERENCIAS DE OTRAS FECHAS
      div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
        p #{totalTransferDiffNow}
    div.table(style={'font-size':'13px'})
      div.tr
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b TOTAL RECAUDADO
        div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
          p #{totalRecaudado}
block footer