extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div
    p
      h2 CIERRE DE CAJA
  div#planilla(style={'font-size':'13px'})
    div(style={'margin-top':'25px'}).table
      .tr
        .th.center.border-bottom 
          p
            b DATOS DE CAJA
      .tr
        div(style={'-webkit-flex':'5'}).td.border-right
          p 
            b CAJERO:
            span &nbsp; #{datos.cajero}
        div(style={'-webkit-flex':'5'}).td
          p 
            b FECHA:
            span &nbsp; #{moment(datos.fecha).format('DD/MM/YYYY')}
    div(style={'margin-top':'25px'}).table
      .tr
        .th.center.border-bottom 
          p
            b PUNTO DE VENTA
      .tr
        div(style={'-webkit-flex':'3'}).th.border-right.center.border-bottom 
          p 
            b BANCO
        div(style={'-webkit-flex':'2'}).th.border-right.center.border-bottom 
          p 
            b TRANSACCIONES
        div(style={'-webkit-flex':'2'}).th.center.border-bottom 
          p 
            b MONTO Bs.
      each item in datos.metodoPago.punto.items
        .tr
          div(style={'-webkit-flex':'3'}).td.border-right.center
            p #{item.banco}
          div(style={'-webkit-flex':'2'}).td.border-right.center
            p #{item.transacciones}
          div(style={'-webkit-flex':'2'}).td.center
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.monto? (item.monto) : 0)}       
    div(style={'margin-top':'25px', 'width':'100%'})
      div(style={'width':'60%'}).table.break-page
        .tr.break-page
          div(style={'-webkit-flex':'4'}).th.center.border-bottom.border-right
            p
              b METODO DE PAGO
          div(style={'-webkit-flex':'3'}).th.center.border-bottom.border-right
            p
              b TRANSACCIONES            
          div(style={'-webkit-flex':'3'}).th.center.border-bottom
            p
              b MONTO BS.   
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b PUNTO DE VENTA
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.punto.transacciones}            
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.punto.total ? (datos.metodoPago.punto.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b EFECTIVO
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.efectivo.transacciones}
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.efectivo.total ? (datos.metodoPago.efectivo.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b EFECTIVO DOLAR
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.efectivoDolar.transacciones}
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.efectivoDolar.total ? (datos.metodoPago.efectivoDolar.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b EFECTIVO EURO
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.efectivoEuro.transacciones}
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.efectivoEuro.total ? (datos.metodoPago.efectivoEuro.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b EFECTIVO PESO
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.efectivoPeso.transacciones}
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.efectivoPeso.total ? (datos.metodoPago.efectivoPeso.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b CHEQUES
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.cheques.transacciones}            
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.cheques.total ? (datos.metodoPago.cheques.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b CREDITO FISCAL
          div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
            p #{datos.metodoPago.credFiscal.transacciones}            
          div(style={'-webkit-flex':'3'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.credFiscal.total ?  (datos.metodoPago.credFiscal.total):0 )}          
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA BOD
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.bod ? datos.metodoPago.transferencias.bod.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.bod ? (datos.metodoPago.transferencias.bod.total) : 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA BANESCO
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.banesco ? datos.metodoPago.transferencias.banesco.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.banesco ? (datos.metodoPago.transferencias.banesco.total): 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA BNC
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.bnc ? datos.metodoPago.transferencias.bnc.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.bnc ? (datos.metodoPago.transferencias.bnc.total) : 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA VENEZUELA
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.venezuela ? datos.metodoPago.transferencias.venezuela.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.venezuela ? (datos.metodoPago.transferencias.venezuela.total) : 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA PROVINCIAL
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.provincial ? datos.metodoPago.transferencias.provincial.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.provincial ? (datos.metodoPago.transferencias.provincial.total) : 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA SOFITASA
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.sofiTasa ? datos.metodoPago.transferencias.sofiTasa.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.sofiTasa ? (datos.metodoPago.transferencias.sofiTasa.total) : 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA BANCARIBE
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.banCaribe ? datos.metodoPago.transferencias.banCaribe.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.banCaribe ? (datos.metodoPago.transferencias.banCaribe.total) : 0)}
        //- .tr.break-page
        //-   div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
        //-     p(style={'padding-left':'10px'})
        //-       b TRANSFERENCIA 100% BANCO
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
        //-     p #{datos.metodoPago.transferencias.cienPorcientoBanco ? datos.metodoPago.transferencias.cienPorcientoBanco.transacciones : 0}            
        //-   div(style={'-webkit-flex':'3'}).td.center.border-bottom
        //-     p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.cienPorcientoBanco ? (datos.metodoPago.transferencias.cienPorcientoBanco.total) : 0)}
        if datos.metodoPago.transferencias.length > 0
        each item in datos.metodoPago.transferencias
          .tr.break-page
            div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
              p(style={'padding-left':'10px'})
                b #{item.banco}
            div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
              p #{item.transacciones}            
            div(style={'-webkit-flex':'3'}).td.center.border-bottom
              p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.monto)}
        .tr.break-page
          div(style={'-webkit-flex':'4',}).th.border-right
            p
              b TOTALES
          div(style={'-webkit-flex':'3'}).td.center.border-right
            p #{datos.metodoPago.transacciones}            
          div(style={'-webkit-flex':'3'}).td.center
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.total ? (datos.metodoPago.total):0)}  

//- if datos.metodoPago.transferencias.length === 8
//- extends default
//- block css
//-   link(rel="stylesheet", href="css/sedemat.css")
//- block title
//- block content
//-   div#fecha
//-     p 
//-       b FECHA:
//-       span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
//-   div
//-     p
//-       h2 CIERRE DE CAJA
//-   div#planilla(style={'font-size':'13px'})
//-     if datos.metodoPago.transferencias.length > 0
//-     each item in datos.transferencias
//-       .tr.break-page
//-         div(style={'-webkit-flex':'4', 'text-align':'start'}).th.border-bottom.border-right
//-           p(style={'padding-left':'10px'})
//-             b #{item.nombre}
//-         div(style={'-webkit-flex':'3'}).td.center.border-bottom.border-right
//-           p #{item.transacciones}            
//-         div(style={'-webkit-flex':'3'}).td.center.border-bottom
//-           p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.total)}
//- block footer
