extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block header
  div(style={display:'-webkit-flex', 'align-items': 'center'})
    div(style={'-webkit-flex': 3, 'text-align':'start'})
      img(src="images/alcaldia-logo.png", alt="hacienda" style={width:'350px', height:'150px'})
    div(style={'-webkit-flex': 1})
      div(style={'margin':'15px 0'})
        h3(style={'margin': '0 auto'}) SOLVENCIA MUNICIPAL 
      div(style={'border':'1px solid grey'})
        div.tr(style={'font-size': '12px'})
          div(style={'-webkit-flex': 1})
            div(style={'-webkit-flex': 1,'border-color':'grey'}).td.center.border-right.border-bottom
              p(style={'margin': '0 auto','padding':'0'})
                b Mes
            div(style={'-webkit-flex': 1}).td.center
              p(style={'margin': '0 auto','padding':'auto 15px', 'font-size':'20px','border-right':'1px solid grey', 'width':'100%'}) 
                b #{moment().format('MM')}              
          div(style={'-webkit-flex': 1})
            div(style={'-webkit-flex': 1}).td.center
              p(style={'margin': '0 auto','padding':'0','border-bottom':'1px solid grey', 'width':'100%'})
                b Año
            div(style={'-webkit-flex': 1}).td.center
              p(style={'margin': '0 auto', 'padding':'auto 0', 'font-size':'20px'}) 
                b #{moment().format('YYYY')}
  img#divider(src='images/franja-2.0.png')
block title
block content
  div#planilla.solvencia
    div(style={'margin-bottom':'25px','margin-top':'25px'}).center
        h3 El Intendente Municipal Tributario hace constar que
    div
      .tr
        .td
          p
            b El Contribuyente:
            span &nbsp;#{datos.contribuyente.razon_social}&nbsp;
      .tr
        .td
          p
            b C.I./R.I.F:
            span &nbsp;#{datos.contribuyente.documento}&nbsp;
      .tr
        .td
          p
            b Representante del Inmueble Ubicado en:
            span &nbsp;#{datos.contribuyente.direccion ? (datos.contribuyente.direccion.trim() !== '' ? datos.contribuyente.direccion : 'Dirección Sin Asignar') : ''}.&nbsp;
      .tr
        .td
          p
            b El contribuyente se encuentra solvente con el municipio a la fecha de:
            span &nbsp;#{moment().format('DD/MM/YYYY')}&nbsp;
      .tr
        .td
          p
            b Esta solvencia es valida por los siguientes tres meses.
      if datos.contribuyente.inmueble 
        .tr
          .td
            p
              b(style={'text-decoration': 'underline', 'font-size':'20px'}) Inmobiliario
        .tr
          .td
            p
              b Codigo Catastral:
              span &nbsp;#{datos.contribuyente.inmueble.cod_catastral}&nbsp;
        .tr
          .td
            p
              b Direccion:
              span &nbsp;#{datos.contribuyente.inmueble.direccion}&nbsp;
        .tr
          .td
            p
              b Tipo de Inmueble:
              span &nbsp;#{datos.contribuyente.inmueble.tipo_inmueble}&nbsp;
        .tr
          .td
            p
              b Ultimo Avaluo:
              span &nbsp; Bs. &nbsp;#{datos.contribuyente.inmueble.avaluo}&nbsp;
      if datos.sucursal 
        .tr
          .td
            p
              b(style={'text-decoration': 'underline', 'font-size':'20px'}) Inmobiliario
        .tr
          .td
            p
              b Identificado con el R.I.M:
              span &nbsp;#{datos.sucursal.referencia_municipal ? datos.sucursal.referencia_municipal : 'N/A'}&nbsp; 
        .tr
          .td
            p
              b Codigo Catastral:
              span &nbsp;#{datos.sucursal.inmueble.cod_catastral}&nbsp;
        .tr
          .td
            p
              b Direccion:
              span &nbsp;#{datos.sucursal.inmueble.direccion}&nbsp;
        .tr
          .td
            p
              b Tipo de Inmueble:
              span &nbsp;#{datos.sucursal.inmueble.tipo_inmueble}&nbsp;
        .tr
          .td
            p
              b Ultimo Avaluo:
              span &nbsp; Bs. &nbsp;#{datos.sucursal.inmueble.avaluo}&nbsp;
    div(style={'margin-top':"90px"}).flex.center
      div(style={height:"180px"})
        img(src=QR, alt='QR', style={width:'300px', height:"300px"})
      div.item-firma
        img(src="images/firma.png", style={'margin-top':'-90px', 'z-index':'1', width:'375px', height:"375px"}, alt="", srcset="")
      div(style={height:"200px"})
        img(src='images/SOLVENCIA-TIPO-A.png', alt='logo', style={width:'300px', height:"300px"})