html
  head
    title Template
    link(href='css/default.css' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="css/sedemat.css")
  body
    div#wrapper
      header#header
        div.header-child
          img#alcaldia(src='images/alcaldia-logo.png')
        div.header-child
          p Estado Tachira
          p Alcaldía del Municipio San Cristóbal
          p Servicio Desconcentrado Bolivariano de Administración Tributaria
        div.header-child
          img#alcaldia(src='images/encabezado-alcaldia.png')
      img#divider(src='images/franja-2.0.png')
      div#content
        div#planilla(style={'font-size':'13px'})
          div(style={'margin-bottom':'25px', 'margin-top':'50px', 'width':'100%', 'display': '-webkit-flex', '-webkit-align-items': 'end', '-webkit-justify-content': 'space-between'})
            p San Cristóbal, #{moment(fecha).format('DD/MM/YYYY')}
          div(style={'margin-bottom':'20px'})
            div.table(style={'width':'100%', 'font-size':'16px', 'font-weight': 'bold'})
              div.tr
                div.th(style={'-webkit-flex': 1}).border-bottom.center
                  p
                    b LICENCIA DE ACTIVIDADES ECONÓMICAS                             
          div.table(style={'font-size':'13px'})
            div.tr
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b CONTRIBUYENTE
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b RIF - C.I
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b N° DE LICENCIA 
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b REPRESENTANTE LEGAL
            div.tr
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.usuario.contribuyente.razonSocial}
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.usuario.contribuyente.tipoDocumento}-#{datos.usuario.contribuyente.documento}
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.funcionario.referenciaMunicipal ? datos.funcionario.referenciaMunicipal : ' '} 
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.funcionario.nombreRepresentante ? datos.funcionario.nombreRepresentante : ' '}
          div.table(style={'font-size':'13px'})
            div.tr
              div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
                p 
                  b Nro. Solicitud
              div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
                p 
                  b FECHA DE SOLICITUD 
              div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
                p 
                  b FECHA DE OTORGAMIENTO 
            div.tr
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                p #{datos.idTramite ? datos.idTramite : ' '}
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                p #{moment(fechaCreacion).format('DD/MM/YYYY')}
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                p #{moment(fechaCulminacion).format('DD/MM/YYYY')}
          div.table(style={'font-size':'13px'})
            div.tr
              div.th.center.border-bottom
                p
                  b ACTIVIDADES AUTORIZADAS
            each item in datos.funcionario.actividadesEconomicas
              div.tr
                div(style={'width':'100%'}).td.border-bottom.top
                  p #{item.descripcion}
            div.tr
              div(style={'-webkit-flex': 1, '-webkit-justify-content': 'start'}).td.border-right.border-bottom.center
                p 
                  b DIRECCIÓN DEL ESTABLECIMIENTO: #{datos.usuario.contribuyente.direccion}
            div.tr
              div(style={'-webkit-flex': 1, '-webkit-justify-content': 'start' }).td.border-right.border-bottom.center
                b NOTA: 
                p Licencia de Actividades Económicas, válida por un (1) año a partir de la fecha de otorgamiento.
            div.tr
              div(style={'-webkit-flex': 1, 'text-align':'justify'}).td.border-right.border-bottom.center
                p SE LES PARTICIPA QUE, VISTO QUE SE HAN CUMPLIDO CON LAS FORMALIDADES PREVISTAS EN LA ORDENANZA Nro. Nº 534 REFFORMA PARCIAL DE LA ORDENANZA QUE CREA Y REGULA EL IMPUESTO SOBRE ACTIVIDADES ECONÓMICAS DEL MUNICIPIO San Cristóbal DADA, FIRMADA Y SELLADA EN EL DESPACHO DEL ALCALDE, A LOS SEIS (06) DÍAS DEL MES DE NOVIEMBRE DE DOS MIL VEINTE EN EL MUNICIPIO SAN CRISTÓBAL ESTADO TACHIRA, ÁREA METROPOLITANA DE LA CIUDAD DE MARACAIBO A LOS 15 DÍAS DEL MES DE DICIEMBRE DE 2013. AÑO 210 DE LA INDEPENDENCIA Y 161° DE LA FEDERACIÓN, SE HA DISPUESTO ACCEDER A LO SOLICITADO.
      div(style={'margin-top':"40%"}).flex.center
        div(style={height:"180px"})
          img(src=QR, alt='QR', style={height:"100%"})
        div.item-firma
          img(src="images/firma.png", style={'margin-top':'-90px', 'z-index':'1',width:'250px'}, alt="", srcset="")
          p av Alberto Carnevalli local nro s/n urb merida San Cristobal Tachira zona postal 5001