extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")            
block title
block content
  div#planilla
    .table.break-page
      .tr.break-page
        .th.center.border-bottom
          p
            b DATOS DEL CONTRIBUYENTE
      .tr.break-page
        div(style={'-webkit-flex':'3'}).td.border-right.border-bottom
          p Nombre o Razón Social
        div(style={'-webkit-flex':'7'}).td.border-bottom
          p #{datosContribuyente.nombreORazon}
      .tr.break-page
        div(style={'-webkit-flex':'3'}).td.border-right.border-bottom
          p RIF
        div(style={'-webkit-flex':'7'}).td.border-bottom
          p #{datosContribuyente.cedulaORif}
      .tr.break-page
        div(style={'-webkit-flex':'3'}).td.border-right.border-bottom
          p Referencia
        div(style={'-webkit-flex':'7'}).td.border-bottom
          p #{datosContribuyente.rim}
      .tr.break-page
        div(style={'-webkit-flex':'3'}).td.border-right.border-bottom
          p Dirección
        div(style={'-webkit-flex':'7'}).td.border-bottom
          p #{datosContribuyente.direccion}
      .tr.break-page
        div(style={'-webkit-flex':'3'}).td.border-right
          p Teléfóno
        div(style={'-webkit-flex':'7'}).td
          p #{datosContribuyente.telefono}
    each liquidacion in datosLiquidacion
      div(style={'margin-top':'20px'}).table.break-page
        .tr.break-page
          .th.center.border-bottom
            p
              b ESTADO DE CUENTA DEL CONTRIBUYENTE
        .tr.break-page
          div(style={'-webkit-flex':'1.5'}).th.center.border-right.border-bottom
            p
              b PLANILLA
          div(style={'-webkit-flex':'1.5'}).th.center.border-right.border-bottom
            p
              b SOLICITUD
          div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
            p
              b PORCIÓN
          div(style={'-webkit-flex':'1.5'}).th.center.border-right.border-bottom
            p
              b FECHA LIQ.
          div(style={'-webkit-flex':'1.25'}).th.center.border-right.border-bottom
            p
              b FECHA DE VENC.
          div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
            p
              b MES
          div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
            p
              b MOTIVO
          div(style={'-webkit-flex':'1.25'}).th.center.border-right.border-bottom
            p
              b Estado
          div(style={'-webkit-flex':'1'}).th.center.border-bottom
            p
              b MONTO PORCIÓN
        each item in liquidacion
          .tr.break-page
            div(style={'-webkit-flex':'1.5'}).td.center.border-right.border-bottom
              p #{item.planilla}
            div(style={'-webkit-flex':'1.5'}).td.center.border-right.border-bottom
              p #{item.solicitud}
            div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
              p #{item.porcion}
            div(style={'-webkit-flex':'1.5'}).td.center.border-right.border-bottom
              p #{item.fechaLiquidacion}
            div(style={'-webkit-flex':'1.25'}).td.center.border-right.border-bottom
              p #{item.fechaVencimiento}
            div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
              p #{item.mes}
            div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
              p #{item.motivo}
            div(style={'-webkit-flex':'1.25'}).td.center.border-right.border-bottom
              p #{item.estado}
            if item.estado === 'VIGENTE'
              div(style={'-webkit-flex':'1'}).td.center.border-bottom
                p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.montoPorcion)} *
            else
              div(style={'-webkit-flex':'1'}).td.center.border-bottom
                p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.montoPorcion)}            
    .table.break-page
      .tr
        div(style={'-webkit-flex':'8'}).th.center.border-right
          p
            b MONTO TOTAL
        div(style={'-webkit-flex':'1.7','padding-left' : '8px'}).td.center
          p Bs #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(saldoFinal? (saldoFinal) : 0)}
    if datosLiquidacion.length >= 20 
      div(style={'margin-top':'150px'}).table
        .tr.break-page
          .th.center.border-bottom
            p
              b ACTIVIDADES DEL CONTRIBUYENTE
        .tr.break-page
          div(style={'-webkit-flex':'2'}).th.center.border-right
            p
              b Numero Actividad
          div(style={'-webkit-flex':'8'}).th.center
            p
              b Descripcion Actividad
        each  item in actividadesContribuyente
          div(style={'border-top':'1px solid #000'}).tr.break-page
            div(style={'-webkit-flex':'2'}).td.center.border-right
              p  #{item.id}   
            div(style={'-webkit-flex':'8'}).td.center
              p #{item.nombreActividad}  
    else
      .table
        .tr.break-page
          .th.center.border-bottom
            p
              b ACTIVIDADES DEL CONTRIBUYENTE
        .tr.break-page
          div(style={'-webkit-flex':'2'}).th.center.border-right
            p
              b Numero Actividad
          div(style={'-webkit-flex':'8'}).th.center
            p
              b Descripcion Actividad
        each  item in actividadesContribuyente
          div(style={'border-top':'1px solid #000'}).tr.break-page
            div(style={'-webkit-flex':'2'}).td.center.border-right
              p  #{item.id}   
            div(style={'-webkit-flex':'8'}).td.center
              p #{item.nombreActividad} 
    div(style={'text-align':'start', 'width': '90%'})
      p
        b Nota: &nbsp;
        | el costo reflejado de las liquidaciones vigentes podrá fluctuar en el futuro con respecto a los cambios del valor del Petro
    if isCargo
      div(style={'margin-top':"40%"}).center
        div.item-firma
          img(src="images/firma.png", style={'margin-top':'-90px', 'z-index':'1',width:'450px'}, alt="", srcset="")
block footer         