extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  -var names = Object.keys(datos)
  div#fecha
    p
      b FECHA:
      span &nbsp; #{moment(fecha).subtract(4, 'h').format('DD/MM/YYYY')}
    p
      b CIERRE DE CAJEROS         
  div#planilla        
    each item in names
      -var types = Object.keys(datos[item]).reverse()
      div.break-page
        div(style={'text-align':'start', 'font-size':'22px', 'font-weight':'bold', 'margin-top':'50px'}) Cajero: #{item}
        hr.divider
        each tipo in types 
          case `${tipo}`
            when 'CREDITO_FISCAL'
              each el in chunk(datos[item]['CREDITO_FISCAL'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'})
                    b CREDITO FISCAL
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['CREDITO_FISCAL'][0].summetodopagocajero)}
            when 'PUNTO DE VENTA'
              each el in chunk(datos[item]['PUNTO DE VENTA'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'}) PUNTO DE VENTA
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Origen
                    div Destino
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.banco_origen}
                      div #{ele.banco_destino}                      
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['PUNTO DE VENTA'][0].summetodopagocajero)}                         
            when 'TRANSFERENCIA'
              each el in chunk(datos[item]['TRANSFERENCIA'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'}) TRANSFERENCIA
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Origen
                    div Destino                    
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.banco_origen}
                      div #{ele.banco_destino}
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['TRANSFERENCIA'][0].summetodopagocajero)}                       
            when 'EFECTIVO'
              each el in chunk(datos[item]['EFECTIVO'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'}) EFECTIVO
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['EFECTIVO'][0].summetodopagocajero)}
            when 'EFECTIVO DOLAR'
              each el in chunk(datos[item]['EFECTIVO DOLAR'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'}) EFECTIVO DOLAR
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['EFECTIVO DOLAR'][0].summetodopagocajero)}
            when 'EFECTIVO EURO'
              each el in chunk(datos[item]['EFECTIVO EURO'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'}) EFECTIVO EURO
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['EFECTIVO EURO'][0].summetodopagocajero)}
            when 'EFECTIVO PESO'
              each el in chunk(datos[item]['EFECTIVO PESO'], 10)
                div.break-page
                  div(style={'font-size':'20px', 'font-weight':'bold', 'margin-top':'30px'}) EFECTIVO PESO
                  div.row-constancy
                    div Concepto
                    div Fecha
                    div Refencia
                    div Monto
                  hr(style={'height':'2px', }).divider
                  each ele in el
                    div.row-constancy
                      div #{ele.concepto}
                      div #{moment(ele.fecha_de_pago).format('DD/MM/YYYY')}
                      div #{ele.referencia ? ele.referencia : 'N/A'}
                      div #{new Intl.NumberFormat('de-DE').format(ele.monto)}          
                  div.row-constancy
                    div(style={'-webkit-flex': '3'}).end Total Bs.
                    div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE').format(datos[item]['EFECTIVO PESO'][0].summetodopagocajero)}                 
block footer
