extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#planilla(style={'font-size':'13px'})
    div(style={'margin-bottom':'20px'})
      h2 REPORTE RECAUDADO E INGRESADO POR METODO DE PAGO
    div.table(style={'font-size':'13px'})
      div.tr
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b BANCO
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b PUNTO DE VENTA
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b TRANSFERENCIA
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b TOTAL
      div.tr
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p 
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p
    div.table(style={'font-size':'13px'})
      each item in cash
        div.tr
          div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
            p
              b #{item.metodo_pago}
        div.tr
          div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
            p #{item.total}
    div(style={'margin-bottom':'20px'})
        h2 TRANSFERENCIAS DE OTRAS FECHAS
    div.table(style={'font-size':'13px'})
      each item in transferDiffNow
        div.tr
          div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
            p
              b #{item.nombre}
        div.tr
          div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
            p #{item.fecha}
        div.tr
          div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
            p #{item.total}
        
