extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block header
  div(style={display:'-webkit-flex', 'align-items': 'center'})
    div(style={'-webkit-flex': 1, 'text-align':'start'})
      img(src="images/alcaldia-logo.png", alt="hacienda" style={width:'250px', height:'150px'})
    div(style={'-webkit-flex': 1, 'height':'120px', 'text-align': 'end', 'font-size': '16px'})
      p
        b Codigo: #{codigo}
        br
        b Fecha #{moment().format('DD/MM/YYYY')}        
block title
block content
  div(style={ 'font-size': '22px' })#planilla.solvencia
    div(style={'margin-bottom':'10px'}).center
      h2 #{tramite.toUpperCase()}
    div(style={'padding':'2% 5%', 'margin-top':'10px'}).all-border
      div
        h2 Datos del Contribuyente
      div
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Nombre Completo:
              br
              span #{datos.funcionario.solicitante.nombreCompleto}&nbsp;
          .td(style={ '-webkit-flex': '1' })
            p
              b Documento:
              br
              span #{datos.funcionario.solicitante.nacionalidad}-#{datos.funcionario.solicitante.cedula}&nbsp;              
          .td(style={ '-webkit-flex': '1' })
            p
              b Telefono:
              br
              span #{datos.funcionario.solicitante.telefono}&nbsp;
      div
        h2 Datos del Vehículo
      div
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Placa:
              br
              span #{datos.funcionario.vehiculo.placa}&nbsp;
          .td(style={ '-webkit-flex': '1' })
            p
              b Marca:
              br
              span #{datos.funcionario.vehiculo.marca.descripcion}&nbsp; 
          .td(style={ '-webkit-flex': '1' })
            p
              b Modelo:
              br
              span #{datos.funcionario.vehiculo.modelo}&nbsp; 
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Año:
              br
              span #{datos.funcionario.vehiculo.anio}&nbsp;                            
          .td(style={ '-webkit-flex': '1' })
            p
              b Color:
              br
              span #{datos.funcionario.vehiculo.color}&nbsp;
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Categoria:
              br
              span #{datos.funcionario.vehiculo.subcategoria.descripcion}&nbsp;         
          .td(style={ '-webkit-flex': '1' })
            p
              b Categoria del Impuesto:
              br
              span #{datos.funcionario.vehiculo.categoria.descripcion}&nbsp;         
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Serial de Carroceria:
              br
              span #{datos.funcionario.vehiculo.serialCarroceria}&nbsp;
      div(style={'margin-top':"5%"}).flex.center
        div(style={height:"280px", '-webkit-flex': '1', 'margin-top': '-10px'})
          img(src=QR, alt='QR', style={height:"100%"})
        div(style={height:"260px",'-webkit-flex': '1'})
          img(src='images/IV.png', alt='logo', style={height:"100%"})
    div(style={'margin': '0 20px', 'text-align':'justify'})
      if datos.funcionario.vehiculo.tipo.id !== 1 
        p
          b El presente certificado avala ante todas las autoridades de tránsito en el territorio nacional que el contribuyente está solvente con este impuesto para el año fiscal #{moment().format('YYYY')}.
      else
        p
          b El presente certificado avala ante todas las autoridades de tránsito en el territorio nacional que el contribuyente está solvente con este impuesto para el mes de #{moment().locale('ES').format('MMMM')}.      