extends default

block content
  div#fecha
    p 
      b Codigo de Tramite:
      | &nbsp; #{codigo}
    p 
      b MARACAIBO, #{fecha}
  div#planilla
    div.titleWithQR
      p#title
        b CONSTANCIA DE SERVICIO
      .QR
        img(src=datos.QR, alt='QR')
    div#text-input
      p
        | Ciudadano: (a)
        br
        | #{datos.usuario.nombre}
      p.
        La presente tiene como objeto comunicarles respecto a su solicitud de fecha #{fecha} para la realización  
        de   las  Instalaciones  de  Gas   Doméstico  correspondiente a  la  obra:  #{datos.funcionario.nombreObra}, construirse
        en terreno de su propiedad, ubicado en el SECTOR #{datos.funcionario.sector}, #{datos.funcionario.ubicadoEn}, Parroquia: #{datos.funcionario.parroquia}, 
        que  EL SECTOR CUENTA CON LA RED DE DISTRIBUCIÓN DE GAS.

      p.
        Visto el procedimiento técnico seguido para otorgar la constancia de servicio, se concede la referida
        constancia de servicio por haber cumplido los requisitos exigidos.
      b Constancia válida por 1 Año
    div
      p 
        b Atentamente,
        br 
        b P/ Servicio Autónomo Para El Suministro De Gas De Maracaibo.
    div#firma
      div.item-firma
        b(style={'font-size': '16px !important'}) Héctor Bracho
        br
        b(style={'font-size': '16px !important'}) DIRECTOR GENERAL
        br
        b SERVICIO AUTONOMO PARA EL SUMINISTRO 
        br
        b DE GAS E INFRAESTRUCTURA DE MARACAIBO 
        br
        b SEGÚN RESOLUCIÓN Nº 0010 DE FECHA 19/12/2017
        br
        b GACETA MUNICIPAL Nº 306-17 DE FECHA 19/12/2017
