extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div#planilla
    div
      h2 CIERRE DE CAJEROS
    div           
      div(style={'font-size':'20px', 'font-weight':'bold'}).row-constancy
        div(style={'text-align':'start', }) Cajero
        div.center Monto (Bs)
      hr.divider
      each item in datos.items
        div.row-constancy.break-page
          div(style={'text-align':'start' }) #{item.cajero}
          div.center #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.monto)}
      hr.divider
      div.row-constancy.break-page
        div(style={'-webkit-flex': '2'}).end Total Bs.
        div(style={'-webkit-flex': '1'}).center #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.total? (datos.total).toFixed(2): 0)}
    div(style={'text-align':'-webkit-right', 'width':'100%'}).break-page
      div.ticket.break-page(style={'margin':'2% 0', 'border':'2px solid #3387ca', 'width':'55%'})
        div.ticket-data.break-page
          div(style={'-webkit-flex': '4'})
            p(style={'margin': '5px'})
              b METODO DE PAGO   
          div(style={'-webkit-flex': '3'}).center
            p(style={'margin': '5px'})
              b TRANSACIONES 
          div(style={'-webkit-flex': '3'}).center
            p(style={'margin': '5px'})
              b MONTO Bs.
        hr.divider
        each item in datos.metodoPago
          div.ticket-data.break-page
            div(style={'-webkit-flex': '4'})
              p(style={'margin': '5px'}) #{item.tipo}
            div(style={'-webkit-flex': '3'}).center
              p(style={'margin': '5px'}) #{item.transacciones}
            div(style={'-webkit-flex': '3'}).center
              p(style={'margin': '5px'}) #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.monto ? (item.monto).toFixed(2) : 0)}                   
block footer