extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
  p SOLICITUD DE LICENCIA DE ACTIVIDAD ECONÓMICA
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Código de Trámite:
      span &nbsp; #{codigo}
  div#planilla      
    div(style={'margin-top':'40px'}).table                                  
      div.th.border-bottom
        p DATOS DEL CONTRIBUYENTE
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Razón Social:
            span &nbsp; #{contribuyente.razonSocial}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Documento de Identidad:
            span &nbsp; #{contribuyente.tipoDocumento}-#{contribuyente.documento}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Sector:
            span &nbsp; #{contribuyente.sector}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Punto de Referencia:
            span &nbsp; #{contribuyente.puntoReferencia}
      div.tr
        div.td(style={ width: '100%' })
          p
            b Dirección:
            span &nbsp; #{contribuyente.direccion}
    div(style={'margin-top':'40px'}).table                                  
      div.th.border-bottom
        p DATOS DEL SOLICITANTE
      div.tr
        div.td(style={ width: '50%' }).border-right
          p
            b Teléfono:
            span &nbsp; #{datos.funcionario.telefono}
        div.td(style={ width: '50%' })
          p
            b Correo:
            span &nbsp; #{datos.funcionario.correo}
    div(style={'margin-top':'40px'}).table                                  
      div.th.border-bottom
        p  DATOS DE LA SUCURSAL
      div.tr
        div.td(style={ width: '50%' }).border-right
          p
            b Denominación Comercial:
            span &nbsp; #{datos.funcionario.denominacionComercial}
        div.td(style={ width: '50%' })
          p
            b Representante Legal:
            span &nbsp; #{datos.funcionario.representanteLegal}
    div
      img(src='images/aprobado.png')
    div(style={'text-align':'center', 'margin-top':'50px'})
      h2 RIM: #{datos.funcionario.referenciaMunicipal}