extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Reporte:
      span &nbsp; #{codigo}
  div.table
    .tr
      .th.border-bottom.center
        p
          b ACUMULADO DE INGRESOS
    .tr
      .td
        p #{datos.acumuladoIngresos}
  div(style={'margin-top':'20px'}).table
    .tr
      div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
        p
          b RAMO
      div(style={'-webkit-flex':'3'}).th.center.border-right.border-bottom
        p
          b DESCRIPCIÓN
      div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
        p
          b LIQUIDADO
      div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
        p
          b CANT. 
      div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
        p
          b INGRESADO
      div(style={'-webkit-flex':'1'}).th.center.border-bottom
        p
          b CANT.
    each item in datos.ingresos
      .tr.break-page
        div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
          p #{item.ramo}
        div(style={'-webkit-flex':'3'}).td.center.border-right.border-bottom
          p #{item.descripcion}
        div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(item.liquidado)}
        div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
          p #{item.cantidadLiq}
        div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(item.ingresado)}
        div(style={'-webkit-flex':'1'}).td.center.border-bottom
          p #{item.cantidadIng}
    .tr.break-page
      div(style={'-webkit-flex':'4'}).th.center.border-right
        p
          b TOTALES
      div(style={'-webkit-flex':'2'}).td.center.border-right
        p Bs #{new Intl.NumberFormat('de-DE').format(datos.liquidadoTotal)}
      div(style={'-webkit-flex':'1'}).td.center.border-right
        p #{datos.cantidadLiqTotal}          
      div(style={'-webkit-flex':'2'}).td.center.border-right
        p Bs #{new Intl.NumberFormat('de-DE').format(datos.ingresadoTotal)}
      div(style={'-webkit-flex':'1'}).td.center
        p #{datos.cantidadIngTotal}   
    div(style={'margin-top':'20px'}).table.break-page
      .tr
        .th.center.border-bottom
          p
            b METODOS DE PAGO
      .tr
        div(style={'-webkit-flex':'7'}).th.center.border-bottom.border-right
          p
            b PUNTO DE VENTA
        div(style={'-webkit-flex':'3'}).td.center.border-bottom
          p #{datos.metodoPago.punto.total}
      .tr
        div(style={'-webkit-flex':'7'}).th.center.border-bottom.border-right
          p
            b EFECTIVO
        div(style={'-webkit-flex':'3'}).td.center.border-bottom
          p #{datos.metodoPago.efectivo.total}
      .tr
        div(style={'-webkit-flex':'7'}).th.center.border-bottom.border-right
          p
            b CHEQUES
        div(style={'-webkit-flex':'3'}).td.center.border-bottom
          p #{datos.metodoPago.cheques.total}
      .tr
        div(style={'-webkit-flex':'7'}).th.border-bottom.border-right
          p
            b TRANSFERENCIA BOD
        div(style={'-webkit-flex':'3'}).td.center.border-bottom
          p #{datos.metodoPago.transferencia.item.find(el => el.id === 1)}
      .tr
        div(style={'-webkit-flex':'7'}).th.border-bottom.border-right
          p
            b TRANSFERENCIA BANESCO
        div(style={'-webkit-flex':'3'}).td.center.border-bottom
          p #{datos.metodoPago.transferencia.item.find(el => el.id === 2)}
      .tr
        div(style={'-webkit-flex':'7'}).th.border-bottom.border-right
          p
            b TRANSFERENCIA BNC
        div(style={'-webkit-flex':'3'}).td.center.border-bottom
          p #{datos.metodoPago.transferencia.item.find(el => el.id === 3)}
      .tr
        div(style={'-webkit-flex':'7.'}).th.center.border-right
          p
            b TOTALES
        div(style={'-webkit-flex':'3'}).td.center
          p
            b Bs #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.total)}                       
block footer         