extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    -var sub = []
  div.table
    .tr
      .th.border-bottom.center
        p
          b ACUMULADO DE INGRESOS
    .tr
      .td
        p #{datos.acumuladoIngresos}
  div(style={'margin-top':'20px'}).table
    .tr
      div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
        p
          b RAMO
      div(style={'-webkit-flex':'3'}).th.center.border-right.border-bottom
        p
          b DESCRIPCIÓN
      div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
        p
          b LIQUIDADO Bs.
      div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
        p
          b CANT. 
      div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
        p
          b INGRESADO Bs.
      div(style={'-webkit-flex':'1'}).th.center.border-bottom
        p
          b CANT.
    each item in datos.ingresos
      - sub = item.subRamo
        .tr.break-page
          div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
            p #{item.ramo}
          div(style={'-webkit-flex':'3'}).td.center.border-right.border-bottom
            p #{item.descripcion}
          div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
            p #{new Intl.NumberFormat('de-DE').format(item.liquidadoTotal)}
          div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
            p #{item.cantidadLiqTotal}
          div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
            p #{new Intl.NumberFormat('de-DE').format(item.ingresadoTotal)}
          div(style={'-webkit-flex':'1'}).td.center.border-bottom
            p #{item.cantidadIngTotal}  
      if sub.length > 1
        each subRamo in sub
          .tr.break-page
            div(style={'-webkit-flex':'1'}).td.end.border-right.border-bottom
              p #{subRamo.ramo}
            div(style={'-webkit-flex':'3'}).td.center.border-right.border-bottom
              p #{subRamo.descripcion}
            div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
              p #{new Intl.NumberFormat('de-DE').format(subRamo.liquidado)}
            div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
              p #{subRamo.cantidadLiq}
            div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
              p #{new Intl.NumberFormat('de-DE').format(subRamo.ingresado)}
            div(style={'-webkit-flex':'1'}).td.center.border-bottom
              p #{subRamo.cantidadIng} 
    .tr.break-page
      div(style={'-webkit-flex':'4'}).th.center
        p
          b TOTALES
      div(style={'-webkit-flex':'2'}).td.center.border-right.border-left
        p #{new Intl.NumberFormat('de-DE').format(datos.liquidadoTotal ? datos.liquidadoTotal : 0)}
      div(style={'-webkit-flex':'1'}).td.center.border-right
        p #{datos.cantidadLiqTotal}          
      div(style={'-webkit-flex':'2'}).td.center.border-right
        p #{new Intl.NumberFormat('de-DE').format(datos.ingresadoTotal ? datos.ingresadoTotal : 0)}
      div(style={'-webkit-flex':'1'}).td.center
        p #{datos.cantidadIngTotal}   
  div(style={'margin-top':'20px', 'text-align':'-webkit-right', 'width':'100%'}).break-page
    div(style={'width':'50%'}).table.break-page
      .tr
        div(style={'-webkit-flex':'6'}).th.center.border-bottom.border-right
          p
            b METODOS DE PAGO
        div(style={'-webkit-flex':'4'}).th.center.border-bottom
          p
            b MONTO BS.   
      .tr
        div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
          p(style={'padding-left':'10px'})
            b PUNTO DE VENTA
        div(style={'-webkit-flex':'4'}).td.center.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.punto.total)}
      .tr
        div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
          p(style={'padding-left':'10px'})
            b EFECTIVO
        div(style={'-webkit-flex':'4'}).td.center.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.efectivo.total)}
      .tr
        div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
          p(style={'padding-left':'10px'})
            b CHEQUES
        div(style={'-webkit-flex':'4'}).td.center.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.cheques.total)}
      .tr
        div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
          p(style={'padding-left':'10px'})
            b TRANSFERENCIA BOD
        div(style={'-webkit-flex':'4'}).td.center.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.transferencias.items.find(el => el.id === 1) ? datos.metodoPago.transferencias.items.find(el => el.id === 1).monto : 0)}
      .tr
        div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
          p(style={'padding-left':'10px'})
            b TRANSFERENCIA BANESCO
        div(style={'-webkit-flex':'4'}).td.center.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.transferencias.items.find(el => el.id === 2) ? datos.metodoPago.transferencias.items.find(el => el.id === 2).monto : 0)}
      .tr
        div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
          p(style={'padding-left':'10px'})
            b TRANSFERENCIA BNC
        div(style={'-webkit-flex':'4'}).td.center.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.transferencias.items.find(el => el.id === 3) ? datos.metodoPago.transferencias.items.find(el => el.id === 3).monto : 0)}
      .tr
        div(style={'-webkit-flex':'6',}).th.border-right
          p
            b TOTALES Bs. 
        div(style={'-webkit-flex':'4'}).td.center
          p #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.total)}                       
block footer         