extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div.titleWithQR
    p#title
      b EXPENDIO DE BEBIDAS ALCOHÓLICAS
      br
      b LICENCIA N° #{licencia}
    div
      img#QR(src=QR, alt='QR')
  div#planilla
    div(style={'text-align':'justify'})
      p La Alcaldía de Maracaibo, de conformidad con el Artículo 45 del Decreto con Rango, Valor y Fuerza de la Ley de Impuesto de Alcohol y especies Alcohólicas publicada en Gaceta Oficial No. 6.151 Extraordinario de fecha 18/11/2014, en concordancia con la Ordenanza sobre Expendio. Distribución y Consumo de Especies Alcohólicas del Municipio Maracaibo publicada en Gaceta Municipal No. 315-14, de fecha 16/12/2014, a través del Servicio Desconcentrado Municipal de Administración Tributaria (SEDEMAT), otorga la presente autorización a:
    div(style={'text-align':'start', 'margin-top':'50px'})
      p 
        b CONTRIBUYENTE: 
        span #{contribuyente.nombre}
      p 
        b CON EL LEMA COMERCIAL: 
        span #{contribuyente.lema}
      p 
        b DOMICILIO FISCAL: 
        span #{contribuyente.direccion}   
      p 
        b RIM: 
        span #{contribuyente.rim}   
      p 
        b RIF: 
        span #{contribuyente.rif}
      p 
        b CLASIFICACIÓN DE EXPENDIOS: 
        span #{contribuyente.clasf}
      p 
        b HORARIO: 
        span #{contribuyente.horario}
      p 
        b REPRESENTANTE LEGAL: 
        span #{contribuyente.representante}   
    div(style={'text-align':'justify'})
      p
        span Por haber cumplido con los requisitos establecidos en la Ordenanza sobre Expendio Distribución y Consumo de Especies Alcohólicas del Municipio Maracaibo.
        br
        b Se expide en Maracaibo el dia #{moment().format('DD')} de #{moment().locale('es').format('MMMM')} del #{moment().format('YYYY')}.
        br
        b Esta Licencia es Válida hasta el: #{moment().add(2,'y').format('DD/MM/YYYY')}.
    div(style={'justify-content': 'center', 'margin-top':'250px', 'margin-bottom':'50px'})
      div
        hr(style={'width':'45%'})
        b Lcdo. Daniel José Boza Muñoz
        br
        b INTENDENTE MUNICIPAL TRIBUTARIO
        br
        span Según Resolución No. 0083 de fecha 15/04/2020
        br
        span Publicada en Gaceta Municipal No. 069-2020 de fecha 15/04/2020
        br
        br
        b ESTA AUTORIZACIÓN ES INTRANSFERIBLE
        br
        b DEBE COLOCARSE EN UN LUGAR VISIBLE