html
  head
    title Template
    link(href='css/sedetema-solt-TS.css' rel='stylesheet' type='text/css')
  body
    #wrapper
      #ticket-terminal
        #watermark 
          p POR REVISAR
        #tasa-logo
          img#logo(src='images/Terminal.png')
          #tasa-wrapper
            p#tasa TASA DE SALIDA
            #monto
              span Bs. #{datos.usuario.monto}
        #fecha-destino
          p <b>Fecha:</b> #{moment(datos.usuario.fechaTramite).format('DD/MM/YYYY')}
          p <b>Hora:</b> #{moment(datos.usuario.fechaTramite).format('hh:mm a')}
          p#overflowing <b>Destino:</b> #{datos.usuario.destino}
          #footer
            p#terminal TERMINAL
      #ticket-terminal
        #watermark 
          p POR REVISAR
        #tasa-logo
          img#logo(src='images/Terminal.png')
          #tasa-wrapper
            p#tasa TASA DE SALIDA
            #monto
              span Bs. #{datos.usuario.monto}
        #fecha-destino
          p <b>Fecha:</b> #{moment(datos.usuario.fechaTramite).format('DD/MM/YYYY')}
          p <b>Hora:</b> #{moment(datos.usuario.fechaTramite).format('hh:mm a')}
          p <b>Destino:</b> #{datos.usuario.destino}
          #footer
            p#terminal USUARIO