extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
  -var montoRebajado = datos.items.reduce((prev, next)=> prev + next.montoRebajado, 0);
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div.titleWithQR
    p#title
      b ACTIVIDADES ECONÓMICAS
    div
      img#QR(src=QR, alt='QR')
  div#planilla(style={'font-size':'13px'})
    div(style={'margin-bottom':'20px'})
      div.table(style={'width':'90%', 'font-size':'16px', 'font-weight': 'bold'})
        div.tr
          div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
            p 
              b Nro. Solicitud
          div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
            p
              b MOTIVO
          div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
            p
              b Porción
          div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
            p
              b Liquidador
          div(style={'-webkit-flex': 2}).td.border-bottom.center
            p
              b Cajero
        div.tr
          div(style={'-webkit-flex': 1}).td.border-right.center
            p  #{datos.nroSolicitud}
          div(style={'-webkit-flex': 1}).td.border-right.center
            p  #{datos.motivo}
          div(style={'-webkit-flex': 1}).td.border-right.center
            p  #{datos.porcion}
          div(style={'-webkit-flex': 2}).td.border-right.center
            p  USUARIO WEB
          div(style={'-webkit-flex': 2}).td.center
            p 
    div.table(style={'font-size':'14px'})
      div.tr
        div.td(style={'-webkit-flex': 1}).border-right.border-bottom.center
          p
            b RAMO:
        div.td(style={'-webkit-flex': 5}).border-right.border-bottom
          p #{datos.categoria}
        div.td(style={'-webkit-flex': 0.5}).border-right.border-bottom.center
          p
            b RIF:
        div(style={'-webkit-flex': 1.5}).td.border-right.border-bottom.center
          p   #{datos.rif}
        div.td(style={'-webkit-flex': 0.5}).border-right.border-bottom.center
          p
            b REF:
        div(style={'-webkit-flex': 1.5}).td.border-bottom.center
          p #{datos.ref}
      div.tr
        div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
          p
            b RAZÓN SOCIAL:
        div(style={'-webkit-flex': 8}).td.border-bottom
          p #{datos.razonSocial}
      div.tr
        div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
          p
            b DIRECCIÓN:
        div(style={'-webkit-flex': 8}).td.border-bottom
          p #{datos.direccion}
      div.tr
        div(style={'-webkit-flex': 2}).td.border-right.center
          p
            b FECHA CREACIÓN:
        div(style={'-webkit-flex': 1.5}).td.border-right.center
          p #{datos.fechaCre}
        div(style={'-webkit-flex': 2}).td.border-right.center
          p
            b FECHA LIQUIDACIÓN:      
        div(style={'-webkit-flex': 1.5}).td.border-right.center
          p #{datos.fechaLiq}
        div(style={'-webkit-flex': 1.5}).td.border-right.center
          p
            b FECHA VENCIMIENTO:         
        div(style={'-webkit-flex': 1.5}).td.center
          p #{datos.fechaVenc}
    div.table
      div.tr
        div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
          p
            b CÓDIGO
        div(style={'-webkit-flex': 3.5}).th.border-right.border-bottom.center
          p
            b DESCRIPCIÓN
        div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
          p
            b MONTO DECLARADO
        div(style={'-webkit-flex': 1.1}).th.border-right.border-bottom.center
          p
            b ALICUOTA
        div(style={'-webkit-flex': 0.9}).th.border-right.border-bottom.center
          p
            b MIN. TRIB
        div(style={'-webkit-flex': 1.5}).th.border-bottom.center
          p
            b IMPUESTO    
      each item in datos.items
        div.tr.break-page
          div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
            p #{item.codigo}
          div(style={'-webkit-flex': 3.5}).td.border-right.border-bottom.center
            p #{item.descripcion}
          div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.montoDeclarado ? item.montoDeclarado : 0)}
          div(style={'-webkit-flex': 1.1}).td.border-right.border-bottom.center
            p #{item.alicuota}
          div(style={'-webkit-flex': 0.9}).td.border-right.border-bottom.center
            p #{item.minTrib}
          div(style={'-webkit-flex': 1.5}).td.border-bottom.center
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(item.impuesto ? item.impuesto : 0)}
      div.tr.break-page
        div(style={'-webkit-flex': 1}).td.border-bottom.center
          p
            b TRAMITES INTERNOS
      div.tr.break-page
        div(style={'-webkit-flex': 8}).td.border-right.border-bottom.center
          p
            b CONCEPTO
        div(style={'-webkit-flex': 2}).td.border-bottom.center
          p
            b IMPUESTO
      div.tr.break-page
        div(style={'-webkit-flex': 8}).td.border-right
          p SOLVENCIA DE ACTIVIDADES ECONÓMICAS
        div(style={'-webkit-flex': 2}).td.center
          p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.tramitesInternos ? datos.tramitesInternos : 0)}
    div(style={'margin-top':'20px'}).table.break-page
      if montoRebajado > 0
        div.tr.break-page
          div(style={'-webkit-flex': 6}).td.border-right.border-bottom.center
            p
              b Sub Total:
          div(style={'-webkit-flex': 4}).td.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(parseFloat(datos.montoTotal) + parseFloat(montoRebajado))}          
        div.tr.break-page
          div(style={'-webkit-flex': 6}).td.border-right.border-bottom.center
            p
              b Monto Rebajado:
          div(style={'-webkit-flex': 4}).td.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(montoRebajado ? montoRebajado : 0)}
      div.tr
        div(style={'-webkit-flex': 6}).td.border-right.center
          p
            b Monto Total Planilla:
        div(style={'-webkit-flex': 4}).td
          p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(parseFloat(datos.montoTotal))}

    div(style={'margin-top':'20px'}).table.break-page
      div.tr.break-page
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right
          p
            b OBSERVACIÓN:
        div(style={'-webkit-flex': 8}).td.border-bottom
          p #{datos.observacion}
      div.tr.break-page
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right
          p
            b ESTATUS:
        div(style={'-webkit-flex': 8}).td.border-bottom
          p #{datos.estatus}
      div(style={'background-color':'rgba(0,0,0,0.2)'}).tr
        div(style={'-webkit-flex': 1}).td.border-right.center
          p
            b Total Liquidado:
            span &nbsp; #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.totalLiq)}
        div(style={'-webkit-flex': 1}).td.center
          p
            b Total Recaudado:
            span &nbsp; #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.totalRecaudado)}
    div(style={'text-align': 'justify', 'margin-top':'10px', 'font-size':'12px'})
      p.
       "JURO QUE SON VERDADEROS TODOS LOS DATOS SUMINISTRADOS EN ESTE FORMULARIO, QUE HAN SIDO ELABORADOS O EXAMINADOS
        POR MI Y QUE CONTIENEN UNA DECLARACIÓN COMPLETA DE LAS VENTAS Y/O ELEMENTOS REPRESENTATIVOS DEL MOVIMIENTO
        ECONÓMICO DEL NEGOCIO CORRESPONDIENDO AL PERIODO ECONÓMICO"
block footer