extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).subtract(4,'h').format('DD/MM/YYYY')}
    -var sub = []
  div#planilla  
    div.table
      .tr
        .th.border-bottom.center
          p
            b ACUMULADO DE INGRESOS
      .tr
        .td
          p #{datos.acumuladoIngresos}
    each item in datos.ingresos
      div(style={'margin-top':'20px'}).table.break-page
        .tr
          div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
            p
              b RAMO
          div(style={'-webkit-flex':'3'}).th.center.border-right.border-bottom
            p
              b DESCRIPCIÓN
          div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
            p
              b LIQUIDADO Bs.
          div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
            p
              b CANT. 
          div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
            p
              b INGRESADO Bs.
          div(style={'-webkit-flex':'1'}).th.center.border-bottom
            p
              b CANT.
        each row in item
          - sub = row.subRamo
            .tr.break-page.title
              div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
                p #{row.ramo}
              div(style={'-webkit-flex':'3'}).td.center.border-right.border-bottom
                p #{row.descripcion}
              div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
                p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format((row.liquidadoTotal))}
              div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
                p #{row.cantidadLiqTotal ? row.cantidadLiqTotal : 0}
              div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
                p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format((row.ingresadoTotal))}
              div(style={'-webkit-flex':'1'}).td.center.border-bottom
                p #{row.cantidadIngTotal ? row.cantidadIngTotal : 0}  
          if sub.length > 1
            each subRamo in sub
              if (!subRamo.liquidado) && (!subRamo.ingresado)
              else
                .tr.break-page.sub-title
                  div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
                    p #{subRamo.ramo}
                  div(style={'-webkit-flex':'3'}).td.center.border-right.border-bottom
                    p #{subRamo.descripcion}
                  div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
                    p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(subRamo.liquidado ? (subRamo.liquidado) : 0)}
                  div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
                    p #{subRamo.cantidadLiq ? subRamo.cantidadLiq : 0}
                  div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
                    p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(subRamo.ingresado ? (subRamo.ingresado) : 0)}
                  div(style={'-webkit-flex':'1'}).td.center.border-bottom
                    p #{subRamo.cantidadIng ? subRamo.cantidadIng : 0}
    .table.break-page
      .tr.break-page
        div(style={'-webkit-flex':'4'}).th.center
          p
            b TOTALES
        div(style={'-webkit-flex':'2'}).td.center.border-right.border-left
          p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.liquidadoTotal ? (datos.liquidadoTotal) : 0)}
        div(style={'-webkit-flex':'1'}).td.center.border-right
          p #{datos.cantidadLiqTotal}          
        div(style={'-webkit-flex':'2'}).td.center.border-right
          p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.ingresadoTotal ? (datos.ingresadoTotal) : 0)}
        div(style={'-webkit-flex':'1'}).td.center
          p #{datos.cantidadIngTotal ? datos.cantidadIngTotal : 0}   
    div(style={'margin-top': '20px', 'text-align':'-webkit-right', 'width':'100%'}).break-page
      div(style={'width':'50%'}).table.break-page
        .tr.break-page
          div(style={'-webkit-flex':'6'}).th.center.border-bottom.border-right
            p
              b METODOS DE PAGO
          div(style={'-webkit-flex':'4'}).th.center.border-bottom
            p
              b MONTO BS.   
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b PUNTO DE VENTA
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.punto.total ? (datos.metodoPago.punto.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b EFECTIVO
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.efectivo.total ? (datos.metodoPago.efectivo.total) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b TRANSFERENCIA BOD
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.items.find(el => el.id_banco === 1) ? (datos.metodoPago.transferencias.items.find(el => el.id_banco === 1).monto) : 0)}            
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b TRANSFERENCIA BANESCO
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.items.find(el => el.id_banco === 2) ? (datos.metodoPago.transferencias.items.find(el => el.id_banco === 2).monto) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b TRANSFERENCIA BNC
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.items.find(el => el.id_banco === 3) ? (datos.metodoPago.transferencias.items.find(el => el.id_banco === 3).monto) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b TRANSFERENCIA BANCO DEL TESORO
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.items.find(el => el.id_banco === 14) ? (datos.metodoPago.transferencias.items.find(el => el.id_banco === 14).monto) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b TRANSFERENCIA BANCO PLAZA
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.items.find(el => el.id_banco === 22) ? (datos.metodoPago.transferencias.items.find(el => el.id_banco === 22).monto) : 0)}
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b TRANSFERENCIA MERCANTIL
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.transferencias.items.find(el => el.id_banco === 19) ? (datos.metodoPago.transferencias.items.find(el => el.id_banco === 19).monto) : 0)}            
        .tr.break-page
          div(style={'-webkit-flex':'6', 'text-align':'start'}).th.border-bottom.border-right
            p(style={'padding-left':'10px'})
              b CREDITO FISCAL
          div(style={'-webkit-flex':'4'}).td.center.border-bottom
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.creditoFiscal ? (datos.metodoPago.creditoFiscal) : 0)}            
        .tr.break-page
          div(style={'-webkit-flex':'6',}).th.border-right
            p
              b TOTALES Bs. 
          div(style={'-webkit-flex':'4'}).td.center
            p #{new Intl.NumberFormat('de-DE',{minimumFractionDigits:2}).format(datos.metodoPago.total ? (datos.metodoPago.total) : 0)}                       
block footer         