extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div.titleWithQR
    p#title
      b PATENTE DE LICENCIA DE ACTIVIDAD ECONÓMICA
    div
      img#QR(src=QR, alt='QR')
  div#planilla(style={'font-size':'13px'})
    div(style={'margin-bottom':'20px'})
      div.table(style={'width':'90%', 'font-size':'16px', 'font-weight': 'bold'})
        div.tr
          div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
            p 
              b Nro. Solicitud
          div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
            p
              b MOTIVO
          div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
            p
              b Liquidador
          div(style={'-webkit-flex': 2}).td.border-bottom.center
            p
              b Cajero
        div.tr
          div(style={'-webkit-flex': 1}).td.border-right.center
            p  #{datos.codigo}
          div(style={'-webkit-flex': 1}).td.border-right.center
            p  RG2020
          div(style={'-webkit-flex': 2}).td.border-right.center
            p  #{datos.usuario.contribuyente.razonSocial}
          div(style={'-webkit-flex': 2}).td.center
            p  #{datos.cajero}
    div.table(style={'font-size':'13px','margin-top':'20px'})
      .tr
        div(style={'-webkit-flex': 1,'padding-right':'1px'}).td.center.border-right.border-bottom
          p 
            b Tipo De Trámite: 112 - Licencia de Actividad Económica
      .tr
        div(style={'-webkit-flex': 2}).td.center.border-right.border-bottom
          p 
            b Capital Suscrito:
        div(style={'-webkit-flex': 5}).td.center.border-right.border-bottom
          p #{datos.funcionario.capitalSuscrito}
        div(style={'-webkit-flex': 1.5}).td.center.border-right.border-bottom
          p 
            b Fecha Inscripcion:
        div(style={'-webkit-flex': 1.5}).td.center.border-bottom
          p #{moment().format('DD/MM/YYYY')}
      .tr
        div(style={'-webkit-flex': 2}).td.center.border-right
          p 
            b Tipo de sociedad:
        div(style={'-webkit-flex': 8}).td.center.border-right
          p #{datos.funcionario.tipoSolicitud}                  
    div.table(style={'font-size':'13px','margin-top':'20px'})
      div.tr
        div.th(style={'-webkit-flex': 1}).border-bottom.center
          p
            b CONTRIBUYENTE
      div.tr
        div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
          p
            b RAZÓN SOCIAL:
        div(style={'-webkit-flex': 6}).td.border-bottom.border-right
          p #{datos.usuario.contribuyente.razonSocial}
        div(style={'-webkit-flex': 2}).td.border-bottom
          p
            b RIF:&nbsp;
            span #{datos.usuario.contribuyente.tipoDocumento}-#{datos.usuario.contribuyente.documento}
      div.tr
        div(style={'-webkit-flex': 2}).td.border-right.border-bottom.center
          p
            b DENOM. COMERCIAL:
        div(style={'-webkit-flex': 6}).td.border-bottom.border-right
          p #{datos.funcionario.denominacionComercial}
        div(style={'-webkit-flex': 2}).td.border-bottom
          p
            b REF:&nbsp;
            span #{datos.referenciaMunicipal}          
      div.tr
        div(style={'-webkit-flex': 2}).td.border-right.center
          p
            b DIRECCIÓN:
        div(style={'-webkit-flex': 8, 'padding-left':'5px'}).td
          p #{datos.usuario.contribuyente.direccion}
    div.table
      .tr
        .th.center.border-bottom
          p
            b ACTIVIDADES
      div.tr
        div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
          p
            b CÓDIGO
        div(style={'-webkit-flex': 5}).td.border-right.border-bottom.center
          p
            b DESCRIPCIÓN
        div(style={'-webkit-flex': 1.5}).td.border-right.border-bottom.center
          p
            b ALICUOTA
        div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
          p
            b PERIODO
        div(style={'-webkit-flex': 1.5}).td.border-bottom.center
          p
            b FECHA INICIO    
      each item in datos.funcionario.actividadesEconomicas
        div.tr.break-page
          div(style={'-webkit-flex': 1}).td.border-right.center
            p #{item.codigo}
          div(style={'-webkit-flex': 5}).td.border-right.center
            p #{item.descripcion}
          div(style={'-webkit-flex': 1.5}).td.border-right.center
            p #{item.alicuota}
          div(style={'-webkit-flex': 1}).td.border-right.center
            p #{moment().format('YYYY')}
          div(style={'-webkit-flex': 1.5}).td.center
            p #{item.fechaIni}
    div(style={'margin-top':'20px'}).table.break-page
      div.tr.break-page
        div(style={'-webkit-flex': 8}).th.border-right.border-bottom.center
          p
            b CONCEPTO
        div(style={'-webkit-flex': 2}).th.border-bottom.center
          p
            b IMPUESTO
      div.tr.break-page
        div(style={'-webkit-flex': 8}).td.border-right
          p Pago por Licencia de Actividad Económica
        div(style={'-webkit-flex': 2}).td.center
          p #{new Intl.NumberFormat('de-DE').format(2*UTMM)}
    div(style={'margin-top':'20px'}).table.break-page
      .tr.break-page
        .th.center.border-bottom
          p
            b ESTATUS DE PAGO 
      div.tr.break-page
        div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
          p
            b Forma de Pago
        div(style={'-webkit-flex': 3}).td.border-bottom.border-right.center
          p
            b BANCO
        div(style={'-webkit-flex': 1}).td.border-bottom.border-right.center
          p
            b Fecha
        div(style={'-webkit-flex': 1.5}).td.border-bottom.border-right.center
          p
            b N°DEPOSITO
        div(style={'-webkit-flex': 2.5}).td.border-bottom.center
          p
            b MONTO CANCELADO
      each item in datos.funcionario.pago
        div.tr.break-page
          div(style={'-webkit-flex': 2}).td.border-right.center
            p #{item.formaPago}
          div(style={'-webkit-flex': 3}).td.border-right.center
            p #{item.banco}
          div(style={'-webkit-flex': 1}).td.border-right.center
            p #{moment(item.fecha).format('DD/MM/YYYY')}
          div(style={'-webkit-flex': 1.5}).td.border-right.center
            p #{item.nro}
          div(style={'-webkit-flex': 2.5}).td.center
            p Bs #{new Intl.NumberFormat('de-DE').format(item.monto)}         
    div(style={'margin-top':'20px'}).table.break-page
      div(style={'background-color':'rgba(0,0,0,0.2)'}).tr
        div(style={'-webkit-flex': 1}).td.border-right.center
          p
            b Total Liquidado:
            span &nbsp;Bs #{new Intl.NumberFormat('de-DE').format(datos.funcionario.totalLiq)}
        div(style={'-webkit-flex': 1}).td.border-right.center
          p
            b Total Recaudado:
            span &nbsp;Bs #{new Intl.NumberFormat('de-DE').format(datos.funcionario.totalRecaudado)}
        div(style={'-webkit-flex': 1}).td.center
          p
            b Total Credito Fiscal:
            span &nbsp;Bs #{new Intl.NumberFormat('de-DE').format(datos.funcionario.totalCred)}
block footer