html
  head
    title Template
    link(href='css/default.css' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="css/sedemat.css")
  body
    div#wrapper
      header#header
        div.header-child
          img#alcaldia(src='images/alcaldia-logo.png')
        div.header-child
          p Estado Zulia
          p Alcaldía del Municipio San Francisco
          p Servicio Desconcentrado Bolivariano de Administración Tributaria
        div.header-child
          img#alcaldia(src='images/sedebat-logo.png')
      img#divider(src='images/franja-2.0.png')
      div#content
        div(style={'margin-bottom':'20px', '-webkit-flex': 1, '-webkit-justify-content': 'end' })
          div#fecha
            p San francisco, #{moment(fecha).format('DD/MM/YYYY')}
          img#QR(src=QR, alt='QR')
        div#planilla(style={'font-size':'13px'})
          div(style={'margin-bottom':'20px'})
            div.table(style={'width':'100%', 'font-size':'16px', 'font-weight': 'bold'})
              div.tr
                div.th(style={'-webkit-flex': 1}).border-bottom.center
                  p
                    b LICENCIA DE ACTIVIDADES ECONÓMICAS                             
          div.table(style={'font-size':'13px'})
            div.tr
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b CONTRIBUYENTE
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b RIF - C.I
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b N° DE LICENCIA 
              div(style={'-webkit-flex': 2}).th.border-right.border-bottom.center
                p
                  b REPRESENTANTE LEGAL
            div.tr
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.usuario.contribuyente.razonSocial}
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.usuario.contribuyente.tipoDocumento}-#{datos.usuario.contribuyente.documento}
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.funcionario.referenciaMunicipal ? datos.funcionario.referenciaMunicipal : ' '} 
              div(style={'-webkit-flex': 2}).td.border-bottom.border-right.center
                p #{datos.usuario.contribuyente.representanteLegal ? datos.usuario.contribuyente.representanteLegal : ' '}
          div.table(style={'font-size':'13px'})
            div.tr
              div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
                p 
                  b Nro. Solicitud
              div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
                p 
                  b FECHA DE SOLICITUD 
              div(style={'-webkit-flex': 1}).th.border-right.border-bottom.center
                p 
                  b FECHA DE OTORGAMIENTO 
            div.tr
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                p #{datos.idTramite ? datos.idTramite : ' '}
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                p #{moment(fecha).format('DD/MM/YYYY')}
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                p #{moment(fecha).format('DD/MM/YYYY')}
          div.table(style={'font-size':'13px'})
            div.tr
              div.th.center.border-bottom
                p
                  b ACTIVIDADES AUTORIZADAS
            div.tr
              each item in datos.funcionario.actividadesEconomicas
                div.tr
                  div(style={'text-align':'justify', 'width':'100%', '-webkit-flex': 1}).td.border-bottom
                    p #{item.descripcion}
            div.tr
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                b DIRECCIÓN DEL ESTABLECIMIENTO: 
                b #{datos.usuario.contribuyente.direccion}
            div.tr
              div(style={'-webkit-flex': 1}).td.border-right.border-bottom.center
                b NOTA: 
                p Licencia de Actividades Económicas, válida por un (1) año a partir de la fecha de otorgamiento.
            div.tr
              div(style={'-webkit-flex': 1, 'text-align':'justify'}).td.border-right.border-bottom.center
                p SE LES PARTICIPA QUE, VISTO QUE SE HAN CUMPLIDO CON LAS FORMALIDADES PREVISTAS EN LA ORDENANZA Nro. Nº 534 REFFORMA PARCIAL DE LA ORDENANZA QUE CREA Y REGULA EL IMPUESTO SOBRE ACTIVIDADES ECONÓMICAS DEL MUNICIPIO SAN FRANCISCO DADA, FIRMADA Y SELLADA EN EL DESPACHO DEL ALCALDE, A LOS SEIS (06) DÍAS DEL MES DE NOVIEMBRE DE DOS MIL VEINTE EN EL MUNICIPIO SAN FRANCISCO ESTADO ZULIA, ÁREA METROPOLITANA DE LA CIUDAD DE MARACAIBO A LOS 15 DÍAS DEL MES DE DICIEMBRE DE 2013. AÑO 210 DE LA INDEPENDENCIA Y 161° DE LA FEDERACIÓN, SE HA DISPUESTO ACCEDER A LO SOLICITADO.
      footer#footer
        div(style={'display':'flex', '-webkit-flex': 1, 'justify-content': 'center', '-webkit-justify-content': 'center' })
          div(style={'display':'flex', '-webkit-flex': 1, 'justify-content': 'center', '-webkit-justify-content': 'center' })
            div
              b FIRMA AUTORIZADA
            div  
              b Lorena Ojeda
            div  
              b Intendente Tributario Municipal 
            div
              p Urb. Coromoto, calle 171, sede de la Alcaldía de San Francisco, RIF G-200092076
         