extends default
//- REQUISITOS PARA LA EXTENSION DE LA LICENCIA DE DISTRIBUIDORES DE BEBIDAS ALCOHOLICAS 
block content
  div#fecha
    p 
      b FECHA:
      //- span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Tramite:
      span &nbsp; #{codigo}
  div#planilla      
    div.table                                  
      div.th
        p DATOS DEL REPRESENTANTE LEGAL
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Nombre:
            span &nbsp; #{datos.usuario.nombre}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Cédula:
            span &nbsp; #{datos.usuario.cedula}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Telefono:
            span &nbsp; #{datos.usuario.telefono}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Correo:
            span &nbsp; #{datos.usuario.correo}
      div.tr
        div.td(style={ width: '100%' }).border-right
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccion}
    div.table                                  
      div.th
        p DATOS DE LA EMPRESA
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b Razon Social:
            span &nbsp; #{datos.usuario.nombre}
        div.td(style={ width: '50%' }).border-bottom
          p
            b R.I.F:
            span &nbsp; #{datos.usuario.cedula}
      div.tr
        div.td(style={ width: '50%' }).border-bottom.border-right
          p
            b R.I.M:
            span &nbsp; #{datos.usuario.telefono}
        div.td(style={ width: '50%' }).border-bottom
          p
            b Telefono:
            span &nbsp; #{datos.usuario.correo}
      div.tr
        div.td(style={ width: '100%' }).border-right
          p
            b Dirección:
            span &nbsp; #{datos.usuario.direccion}            
    div(style={'margin-top':'150px'})#recaudos
      h3 REQUISITOS OBLIGATORIOS
      hr.divider
      ul
        li Carta poder que autorice a un representante para la realización de los tramites, en caso de efectuarlos un tercero anexar copiar de la cedula de identidad de ambos.
        li Acta Constitutiva Estatuaria de la Persona Jurídica debidamente registrada con las últimas modificaciones, si las hubiere, o copia del Registro de la Firma Unipersonal.
        li Documentos o Contrato donde se especifique la ruta de comercializacion destinada a tal fin.
        li Documentos de Propiedad o Contrato de Arrendamiento, Comodato, usufructo, conjuntamente con el titulo de propiedad o certificado de origen del o (los) vehiculos(s)).
        li Original y copia de Cedula de Identeidad y Registro Único de Infotmación (R.I.F) del solicitante.