extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block header
  div(style={display:'-webkit-flex', 'align-items': 'center'})
    div(style={'-webkit-flex': 3, 'text-align':'start'})
      img(src="images/sedematLogo.png", alt="sedemat" style={width:'50%'})
    div(style={'-webkit-flex': 1, 'border-color':'gray', 'height':'120px', 'text-align': 'center', 'font-size': '18px'}).all-border.column
      div(style={'-webkit-flex': 1, 'border-color':'gray'}).flex.border-bottom.border-right
        div(style={'border-color':'gray'}).border-right.flex
          h3(style={'-webkit-flex': 1,  'align-items': 'center' }) Codigo
        h3(style={'-webkit-flex': 2, }) 111111111111
      div(style={'-webkit-flex': 1, }).flex
        div(style={'border-color':'gray'}).border-right.flex
          h3(style={'-webkit-flex': 1,  'align-items': 'center' }) Fecha
        h3(style={ '-webkit-flex': 2,}) #{moment().format('DD/MM/YYYY')}        
block title
block content
  div(style={ 'font-size': '22px' })#planilla.solvencia
    div(style={'margin-bottom':'10%','margin-toP':'10%'}).center
      h1 #{tramite.toUpperCase()}
    div(style={'padding':'2% 5%', 'margin-top':'5%'}).all-border
      div
        h2 Datos del Contribuyente
      div
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Nombre Completo:
              br
              span #{datos.nombre}&nbsp;
          .td(style={ '-webkit-flex': '1' })
            p
              b Documento:
              br
              span #{datos.documento}&nbsp;              
          .td(style={ '-webkit-flex': '1' })
            p
              b Telefono:
              br
              span #{datos.telefono}&nbsp;
      div
        h2 Datos del Vehículo
      div
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Placa:
              br
              span #{datos.placa}&nbsp;
          .td(style={ '-webkit-flex': '1' })
            p
              b Marca:
              br
              span #{datos.marca}&nbsp; 
          .td(style={ '-webkit-flex': '1' })
            p
              b Modelo:
              br
              span #{datos.modelo}&nbsp; 
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Año:
              br
              span #{datos.anioVH}&nbsp;                            
          .td(style={ '-webkit-flex': '1' })
            p
              b Color:
              br
              span #{datos.color}&nbsp; 
          .td(style={ '-webkit-flex': '1' })
            p
              b Categoria del Impuesto:
              br
              span #{datos.categoria}&nbsp;         
        .tr
          .td(style={ '-webkit-flex': '1' })
            p
              b Serial de Carroceria:
              br
              span #{datos.serialCarroceria}&nbsp;                
          .td(style={ '-webkit-flex': '2' })
            p
              b Serial de Motor:
              br
              span #{datos.serialMotor}&nbsp;
      div(style={'margin-top':"10%"}).flex.center
        div(style={height:"280px", '-webkit-flex': '1', 'margin-top': '-10px'})
          img(src=QR, alt='QR', style={height:"100%"})
        div(style={height:"260px",'-webkit-flex': '1'})
          img(src='images/IV.png', alt='logo', style={height:"100%"})
    div(style={'margin': '0 20px', 'text-align':'justify'})
      p
        b El presente certificado avala ante todas las autoridades de tránsito en el territorio nacional que el contribuyente está solvente con este impuesto para el año fiscal #{moment().format('YYYY')}.