extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div#planilla
    div
      h2 MULTA POR PAGO FUERA DE PLAZO
    div.ticket(style={'margin':'2% 7.5%', 'border':'2px solid #3387ca'})
      div.ticket-data
        div
          p
            b Razon Social:&nbsp;
            br
            | #{datos.razonSocial}
          p
            b Documento:&nbsp;
            br
            | #{datos.tipoDocumento}-#{datos.documentoIden}
          p
            b RIM:&nbsp;
            br
            | #{datos.rim}           
        div(style={'margin-left':'5%'})
          p
            b Dirección:&nbsp;
            br
            | #{datos.direccion}
          p
            b Teléfono:&nbsp;
            br
            | #{datos.telefono}
          p
            b Correo:&nbsp;
            br
            | #{datos.correo}          
        div(style={'-webkit-flex': '0.5'}).center
          img#QR(src=QR style={'margin-bottom': '10px'})
    div           
      div(style={'font-size':'20px', 'font-weight':'bold'}).row-constancy
        div(style={'text-align':'start', }) Descripción
        div(style={'text-align':'center'}) Fecha
        div(style={'text-align':'center'}) Monto (Bs)
      hr.divider
      each item in datos.items
        div.row-constancy
          div(style={'text-align':'start' }) #{item.descripcion}
          div(style={'text-align':'center' }) #{item.fecha}
          div(style={'text-align':'center' }) #{new Intl.NumberFormat('de-DE').format(item.monto)}