extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Reporte:
      span &nbsp; #{codigo}
  div.table
    .tr
      .th.border-bottom.center
        p
          b ACUMULADO DE INGRESOS
    .tr
      .td
        p #{datos.acumuladoIngresos}
  div(style={'margin-top':'20px'}).table
    .tr
      div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
        p
          b RAMO
      div(style={'-webkit-flex':'3'}).th.center.border-right.border-bottom
        p
          b DESCRIPCIÓN
      div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
        p
          b LIQUIDADO
      div(style={'-webkit-flex':'1'}).th.center.border-right.border-bottom
        p
          b CANT. 
      div(style={'-webkit-flex':'2'}).th.center.border-right.border-bottom
        p
          b INGRESADO
      div(style={'-webkit-flex':'1'}).th.center.border-bottom
        p
          b CANT.
    each item in datos.ingresos
      .tr.break-page
        div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
          p #{item.ramo}
        div(style={'-webkit-flex':'3'}).td.center.border-right.border-bottom
          p #{item.descripcion}
        div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(item.liquidado)}
        div(style={'-webkit-flex':'1'}).td.center.border-right.border-bottom
          p #{item.cantidadLiq}
        div(style={'-webkit-flex':'2'}).td.center.border-right.border-bottom
          p #{new Intl.NumberFormat('de-DE').format(item.ingresado)}
        div(style={'-webkit-flex':'1'}).td.center.border-bottom
          p #{item.cantidadIng}
    .tr.break-page
      div(style={'-webkit-flex':'4'}).th.center.border-right
        p
          b TOTALES
      div(style={'-webkit-flex':'2'}).td.center.border-right
        p Bs #{new Intl.NumberFormat('de-DE').format(datos.liquidadoTotal)}
      div(style={'-webkit-flex':'1'}).td.center.border-right
        p #{datos.cantidadLiqTotal}          
      div(style={'-webkit-flex':'2'}).td.center.border-right
        p Bs #{new Intl.NumberFormat('de-DE').format(datos.ingresadoTotal)}
      div(style={'-webkit-flex':'1'}).td.center
        p #{datos.cantidadIngTotal}   
  if datos.metodoPago.transferencias.items.length > 0
    div(style={'margin-top':'20px'}).table.break-page
      .tr.break-page
        .th.center.border-bottom
          p
            b TRANSFERENCIA
      .tr.break-page
        div(style={'-webkit-flex':'6.5'}).th.center.border-bottom.border-right
          p
            b BANCO
        div(style={'-webkit-flex':'3.5'}).th.center.border-bottom
          p
            b MONTO          
      each item in datos.metodoPago.transferencias.items
        .tr.break-page
          div(style={'-webkit-flex':'6.5'}).td.center.border-bottom.border-right
            p
              b #{item.banco}
          div(style={'-webkit-flex':'3.5'}).td.center.border-bottom
            p
              b #{new Intl.NumberFormat('de-DE').format(item.monto)}
      .tr
        div(style={'-webkit-flex':'6.5'}).th.center.border-right
          p
            b TOTAL DE TRANSFERENCIA
        div(style={'-webkit-flex':'3.5'}).td.center
          p
            b Bs #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.transferencias.total)}
  if datos.metodoPago.punto.items.length > 0
    div(style={'margin-top':'20px'}).table.break-page  
      .tr.break-page
        .th.center.border-bottom
          p
            b PUNTO DE VENTA
      .tr.break-page
        div(style={'-webkit-flex':'6.5'}).th.center.border-bottom.border-right
          p
            b BANCO
        div(style={'-webkit-flex':'3.5'}).th.center.border-bottom
          p
            b MONTO          
      each item in datos.metodoPago.punto.items
        .tr.break-page
          div(style={'-webkit-flex':'6.5'}).td.center.border-bottom.border-right
            p
              b #{item.banco}
          div(style={'-webkit-flex':'3.5'}).td.center.border-bottom
            p
              b #{new Intl.NumberFormat('de-DE').format(item.monto)}
      .tr
        div(style={'-webkit-flex':'6.5'}).th.center.border-right
          p
            b TOTAL DE PUNTO DE VENTA
        div(style={'-webkit-flex':'3.5'}).td.center
          p
            b Bs #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.punto.total)}
  if datos.metodoPago.efectivo.items.length > 0
    div(style={'margin-top':'20px'}).table.break-page
      .tr.break-page
        .th.center.border-bottom
          p
            b EFECTIVO
      .tr.break-page
        div(style={'-webkit-flex':'6.5'}).th.center.border-bottom.border-right
          p
            b MONEDA
        div(style={'-webkit-flex':'3.5'}).th.center.border-bottom
          p
            b MONTO          
      each item in datos.metodoPago.efectivo.items
        .tr.break-page
          div(style={'-webkit-flex':'6.5'}).td.center.border-bottom.border-right
            p
              b #{item.moneda}
          div(style={'-webkit-flex':'3.5'}).td.center.border-bottom
            p
              b #{new Intl.NumberFormat('de-DE').format(item.monto)}
      .tr
        div(style={'-webkit-flex':'6.5'}).th.center.border-right
          p
            b TOTAL DE EFECTIVO
        div(style={'-webkit-flex':'3.5'}).td.center
          p
            b Bs #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.efectivo.total)}
  if datos.metodoPago.cheques.items.length > 0
    div(style={'margin-top':'20px'}).table.break-page
      .tr.break-page
        .th.center.border-bottom
          p
            b CHEQUES
      .tr.break-page
        div(style={'-webkit-flex':'6.5'}).th.center.border-bottom.border-right
          p
            b BANCO
        div(style={'-webkit-flex':'3.5'}).th.center.border-bottom
          p
            b MONTO          
      each item in datos.metodoPago.cheques.items
        .tr.break-page
          div(style={'-webkit-flex':'6.5'}).td.center.border-bottom.border-right
            p
              b #{item.banco}
          div(style={'-webkit-flex':'3.5'}).td.center.border-bottom
            p
              b #{new Intl.NumberFormat('de-DE').format(item.monto)}
      .tr
        div(style={'-webkit-flex':'6.5'}).th.center.border-right
          p
            b TOTAL DE CHEQUES
        div(style={'-webkit-flex':'3.5'}).td.center
          p
            b Bs #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.cheques.total)}
    div(style={'margin-top':'20px'}).table.break-page
      .tr
        .th.center.border-bottom
          p
            b METODOS DE PAGO
      .tr
        div(style={'-webkit-flex':'2.5'}).th.center.border-bottom.border-right
          p
            b TRANSF
        div(style={'-webkit-flex':'2.5'}).th.center.border-bottom.border-right
          p
            b EFECTIVO
        div(style={'-webkit-flex':'2.5'}).th.center.border-bottom.border-right
          p
            b PUNTO
        div(style={'-webkit-flex':'2.5'}).th.center.border-bottom
          p
            b CHEQUES
      .tr
        div(style={'-webkit-flex':'2.5'}).td.center.border-bottom.border-right
          p
            b #{datos.metodoPago.transferencias.total}
        div(style={'-webkit-flex':'2.5'}).td.center.border-bottom.border-right
          p
            b #{datos.metodoPago.efectivo.total}
        div(style={'-webkit-flex':'2.5'}).td.center.border-bottom.border-right
          p
            b #{datos.metodoPago.punto.total}
        div(style={'-webkit-flex':'2.5'}).td.center.border-bottom
          p
            b #{datos.metodoPago.cheques.total}
      .tr
        div(style={'-webkit-flex':'7.5'}).th.center.border-right
          p
            b TOTALES
        div(style={'-webkit-flex':'2.5'}).td.center
          p
            b Bs #{new Intl.NumberFormat('de-DE').format(datos.metodoPago.total)}                       
block footer         