extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block content
  div#fecha
    p 
      b FECHA:
      span &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
  div#planilla.solvencia
    div.center
      p 
        b El Intendente Municipal Tributario hace constar que
    div(style={'text-align': 'justify'})
      p 
        b El Contribuyente:
        span &nbsp; #{datos.contribuyente} &nbsp;
        b R.I.M:
        span &nbsp; #{datos.rim} &nbsp;
        b C.I./R.I.F:
        span &nbsp; #{datos.cedulaORif} &nbsp;
        b Dirección:
        span &nbsp; #{datos.direccion} &nbsp;
        b Representante Legal:
        span &nbsp; #{datos.representanteLegal} &nbsp;
        b Se encuentra solvente con el impuesto a las Actividades Económicas hasta el:
        span &nbsp; #{datos.periodo} &nbsp;
        b Mes del año
        span &nbsp; #{datos.anio} &nbsp;
        b Esta solvencia es valida hasta el
        span &nbsp; #{datos.fecha}, &nbsp;
        b Maracaibo,
        span &nbsp; #{datos.fechaLetra}
    div(style={'margin-top':"160px"}).flex.center
      div(style={height:"180px"})
        img(src=QR, alt='QR', style={height:"100%"})
      div.item-firma
        hr(style={border:"1px solid black"})
        br
        b Intendente Municipal Tributario
      div(style={height:"200px"})
        img(src='images/AE-Logo.png', alt='logo', style={height:"100%"})