extends default
 
block header
 
block content
 div.ticket
   div#header
     div.header-child
       img#alcaldia(src='images/LogoAlcaldia.png')
     div.header-child(style={'text-align':'center'})
       p Alcaldia Bolivariana de Maracaibo
       p Servicio Desconcentrado de Plazas y Parques
       p R.I.F.: G-20006426-9
     div.header-child
       img#alcaldia(src='images/SEDEPAR.png')
   img#divider(src='images/Divider.png')
     // FIXME: Cambiar la estructura a la correcta 
   div.ticket-data
     div
       p
         h2 Datos del Solicitante
       p
         b Nombre:
         | #{datos.nombreORazon}
       p
         b Cedula:
         | #{datos.cedulaORif}
       p
         b Correo:
         | #{datos.correo}
       p
         b Teléfono:
         | #{datos.telefono}         
     div(style={'margin-left':'5%'})
       p
         h2 Datos del Apartado
       p
         b Fecha de apartado:
         | #{moment(datos.usuario.fechaTramite).format('DD/MM/YYYY')}
       p
         b Fecha de emisión:
         | #{moment(datos.usuario.fechaTramite).format('DD/MM/YYYY')}                  
       p
         b Número del bohio:
         | #{codigo}
     div(style={flex: '0.5', 'text-align': 'center'})
       img#QR(src=QR)
   if texto      
     div.details
       div
         p
           b Detalles del bohio:
           | #{texto}
block footer

